<script type="module">
  import { define, html } from '/static/node_modules/hybrids/src/index.js';

  stomp_subscribe("nspanel/{{ nspanel.mac_address }}/status", (message) => {
    var element = document.getElementById(`nspanel-warnings-container-{{ nspanel.id }}`);
    var data = JSON.parse(message.body);
    element.state = data.state;
    element.warnings_string = JSON.stringify(data.warnings);
  })


  define({
    tag: "nspanel-warnings",
    nspanel_id: '',
    state: '',
    warnings_string: '',
    render: ({id, state, warnings_string}) => {
      if (state == "offline" || state == "unknown") {
        return html``;
      } else if(warnings_string.length > 0) {
        var warnings = JSON.parse(warnings_string);
        var warning_divs = "";
        var alert_badge_color = "badge-info";
        var alert_border_color = "border-info";
        if(warnings.length > 0) {
          warnings.forEach(warning => {
            if(warning.level == "error") {
              if(alert_badge_color == "badge-info" || alert_badge_color == "badge-warning") {
                alert_badge_color = "badge-error";
                alert_border_color = "border-error";
              }
              warning_divs += `
                <div role="alert" class="alert alert-error my-1">${warning.text}</div>
              `;
            } else if(warning.level == "warning") {
              if(alert_badge_color == "badge-info") {
                alert_badge_color = "badge-warning";
                alert_border_color = "border-warning";
              }
              warning_divs += `
                <div role="alert" class="alert alert-warning my-1">${warning.text}</div>
              `;
            } else if(warning.level == "info") {
              warning_divs += `
                <div role="alert" class="alert alert-info my-1">${warning.text}</div>
              `;
            } else {
              warning_divs += `
                <div role="alert" class="alert alert-error my-1">UNKNOWN LEVEL ${warning.level} FOR WARNING: ${warning.text}</div>
              `;
            }
          });

          return html`
            <div class="px-3 mb-2" id="nspanel_warnings" innerHTML="${warning_divs}">
            </div>
          `;
        } else {
          // No warnings active, return empty
          return html``;
        }
      } else if (warnings_string.length == 0) {
        return html``;
      }
    },
  })
</script>


<nspanel-warnings id="nspanel-warnings-container-{{ nspanel.id }}"></nspanel-warnings>
