<template id="error_toast_template">
    <div class="alert alert-error overflow-hidden relative p-0 border-0">
        <!-- <progress class="timeout_progress hidden w-full progress h-1 overflow-hidden m-0 rounded-box absolute top-0 left-0" value="100" max="100"></progress> -->
        <div class="mx-2 my-2 flex items-center">
            <span class="mdi mdi-alert-circle-outline text-2xl me-2"></span>
            <span class="toast-text">Failed to perform request!</span>
        </div>
        <button class="cursor-pointer dismiss-button" title="Dismiss" data-toast-id="" data-toast-text="" onclick="dismiss_error(this);">
            <span class="mdi mdi-close-circle text-xl mx-2"></span>
        </button>
    </div>
</template>

<template id="warning_toast_template">
    <div class="alert alert-warning overflow-hidden relative p-0 border-0">
        <!-- <progress class="timeout_progress hidden w-full progress h-1 overflow-hidden m-0 rounded-box absolute top-0 left-0" value="100" max="100"></progress> -->
        <div class="mx-2 my-2 flex items-center">
            <span class="mdi mdi-alert-circle-outline text-2xl me-2"></span>
            <span class="toast-text">Failed to perform request!</span>
        </div>
        <button class="cursor-pointer dismiss-button" title="Dismiss" data-toast-id="" data-toast-text="" onclick="dismiss_error(this);">
            <span class="mdi mdi-close-circle text-xl mx-2"></span>
        </button>
    </div>
</template>

<template id="info_toast_template">
    <div class="alert alert-info overflow-hidden relative p-0 border-0">
        <!-- <progress class="timeout_progress hidden w-full progress h-1 overflow-hidden m-0 rounded-box absolute top-0 left-0" value="100" max="100"></progress> -->
        <div class="mx-2 my-2 flex items-center">
            <span class="mdi mdi-information-outline text-2xl me-2"></span>
            <span class="toast-text">Failed to perform request!</span>
        </div>
        <button class="cursor-pointer dismiss-button" title="Dismiss" data-toast-id="" data-toast-text="" onclick="dismiss_error(this);">
            <span class="mdi mdi-close-circle text-xl mx-2"></span>
        </button>
    </div>
</template>

<template id="debug_toast_template">
    <div class="alert alert-primary overflow-hidden relative p-0 border-0">
        <!-- <progress class="timeout_progress hidden w-full progress h-1 overflow-hidden m-0 rounded-box absolute top-0 left-0" value="100" max="100"></progress> -->
        <div class="mx-2 my-2 flex items-center">
            <span class="mdi mdi-information-outline text-2xl me-2"></span>
            <span class="toast-text">Failed to perform request!</span>
        </div
        <button class="cursor-pointer dismiss-button" title="Dismiss" data-toast-id="" data-toast-text="" onclick="dismiss_error(this);">
            <span class="mdi mdi-close-circle text-xl mx-2"></span>
        </button>
    </div>
</template>



<div id="error_toast_container" class="toast toast-top md:bottom-0 md:top-auto toast-end relative md:fixed z-10">
</div>

<!-- Javascript needed to create and otherwise handle error toasts -->
<script>


let _error_toast_counter = 0;
function show_error_toast(level, error_text, timeout = 10) {
  _error_toast_counter++;
  var error_toast_id = `error-toast-${_error_toast_counter}`;

  if(level == 0) { // Error as per C++ enum ActiveWarningLevel
    var new_toast = document.getElementById("error_toast_template").content.cloneNode(true);
  } else if (level == 1) { // Warning as per C++ enum ActiveWarningLevel
    var new_toast = document.getElementById("warning_toast_template").content.cloneNode(true);
  } else if (level == 2) { // Info as per C++ enum ActiveWarningLevel
    var new_toast = document.getElementById("info_toast_template").content.cloneNode(true);
  } else if (level == 3) { // Debug as per C++ enum ActiveWarningLevel
    var new_toast = document.getElementById("debug_toast_template").content.cloneNode(true);
  } else {
    var new_toast = document.getElementById("error_toast_template").content.cloneNode(true);
    error_text = "Unknown error level" + level + "!";
  }
  new_toast.querySelector('.alert').id = error_toast_id;
  new_toast.querySelector('.dismiss-button').setAttribute("data-toast-id", error_toast_id);
  new_toast.querySelector('.dismiss-button').setAttribute("data-toast-text", error_text);
  new_toast.querySelector('.toast-text').innerHTML = error_text;
  document.getElementById("error_toast_container").appendChild(new_toast);
}

function dismiss_error(toast) {
  stomp_send("mqttmanager/warnings/dismiss", toast.getAttribute("data-toast-text"));
}


// show_error_toast(0, "MQTT not connected.");
// show_error_toast(1, "TEST2");
</script>
