<template id="nspanel_index_box_template">
  <div class="box nspanel-box m-2" id="panel_status_box">
    <span id="nspanel_id" class="is-hidden nspanel_id_container"></span>
    <span id="nspanel_mac_container" class="is-hidden nspanel_mac_container"></span>
    <div class="nspanel-status-header">
      <div class="has-background-grey nspanel-status-header-await" id="panel_header"></div>
    </div>
    <div class="accept-request-overlay pt-3 is-hidden">
      <span>NSPanel '{NAME}' is requesting access. THIS TEXT IS REPLACED BY JAVASCRIPT AS NEEDED!!!</span>
      <div class="pt-3">
        <button class="button is-danger">Deny</button>
        <button class="button is-success" onclick="send_nspanel_accept_request(this);">Accept</button>
      </div>
    </div>
    <div class="nspanel-status-content-box">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="is-pulled-left">
              <span class="has-text-weight-bold"><a href="" class="has-text-dark" id="nspanel_name"></a></span>
            </div>
          </div>
        </div>
        <div class="level-right">
          <span class="has-text-weight-light is-italic is-size-7"
            id="panel_header_text">Unknown status</span>
        </div>
      </div>

      <div class="info-item">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-help" id="wifi_signal_strength"></i>
          </span>
          <span id="wifi_signal_strength_text" class="is-size-7">-</span>
        </span>
      </div>
      <div class="info-item">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-thermometer"></i>
          </span>
          <span id="temperature"
            class="nspanel-status-temperature is-size-7">-</span>
        </span>
      </div>
      <div class="info-item">
        <span class="icon-text">
          <span class="icon">
            <i class="mdi mdi-memory"></i>
          </span>
          <span class="is-size-7" id="heap_used">-</span>
        </span>
      </div>
    </div>
    <div class="nspanel-status-footer">
      <span data-tooltip="" class="icon is-small has-tooltipl-multiline has-tooltip-warning pl-3 is-hidden"
        id="nspanel_warnings">
        <span class="mdi mdi-alert-circle has-text-warning mdi-24px"></span>
      </span>
      <div class="dropdown nspanel-actions-button">
        <div class="dropdown-trigger" onclick="show_dropdown_menu(this);">
          <span class="mdi mdi-cog pr-2"></span>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a class="dropdown-item" onclick="rebootNSPanel(this);">
              <span class="mdi mdi-restart pr-2 has-text-primary"></span>Reboot
            </a>
            <a class="dropdown-item nspanel-settings-link" href="" target="_blank">
              <span class="mdi mdi-cog pr-2 has-text-primary"></span>Panel settings
              page
            </a>
            <a class="dropdown-item nspanel-visit-link" href="" target="_blank">
              <span class="mdi mdi-web pr-2 has-text-primary"></span>Visit panel
              page
            </a>
            <hr class="dropdown-divider" />
            <a class="dropdown-item" onclick="startNSPanelOtaUpdate(this);">
              <span class="mdi mdi-upload pr-2 has-text-info"></span>Update
              firmware
            </a>
            <a class="dropdown-item" onclick="startNSPanelTftUpdate(this);">
              <span class="mdi mdi-table-arrow-up pr-2 has-text-info"></span>Update screen
            </a>
            <hr class="dropdown-divider" />
            <a class="dropdown-item has-text-danger" onclick="send_nspanel_delete_request(this);">
              <span class="mdi mdi-minus-circle pr-2"></span>Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
