<dialog id="modal" class="modal" hx-swap-oob="true">
    <div class="modal-box bg-base-200 rounded-box max-w-none w-6/12">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <ul class="list">
            {% if messages %}
                {% for message in messages %}
                    <li class="list-row">
                        <div class="text-2xl">{{ message.title }}</div>
                        <p class="list-col-wrap">
                            {{ message.message }}
                        </p>
                        <button class="btn btn-square btn-ghost text-2xl {% if message.read %}btn-disabled text-success{% endif %}" {% if message.read %}disabled{% endif %} title="Mark as read"
                            hx-get="{% url 'htmx_mark_message_read' message_id=message.id %}" hx-swap-oob="true" hx-swap="none">
                            <span class="mdi mdi-check"></span>
                        </button>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-row">
                    <div class="text-2xl">No messages.</div>
                </li>
            {% endif %}
        </ul>
    </div>

    <!-- Backdrop that closes dialog/modal on click -->
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>


    <script>
    htmx.on("htmx:afterSwap", (e) => {
      if(e.detail.elt.id == "modal") {
        modal.showModal();
      }
    });
    </script>
</dialog>
