.has-tooltip-warning {
  border-bottom: none !important; /* Remove dashed underline from warning symbols */
}

[data-tooltip]:not(.is-disabled).has-tooltip-warning::before,
[data-tooltip]:not(.is-loading).has-tooltip-warning::before,
[data-tooltip]:not([disabled]).has-tooltip-warning::before {
  width: 10rem !important;
}

/* Modal fade animation on modal shown */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.modal {
  animation: fadeIn 0.1s;
}
