@import "tailwindcss";
@tailwind components;
@tailwind utilities;

@property --border-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@theme {
    --color-home-assistant: #18bcf2;
    --color-openhab: #e64a19;

    --animate-rotate-border: border-rotate 3s linear infinite;
    @keyframes border-rotate {
        to {
            --border-angle: 360deg;
        }
    }
}

@plugin "daisyui" {
    themes: all;
}

/* Custom NSPanel manager theme */
@plugin "daisyui/theme" {
    name: "nspmwip";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: #131c2e;
    --color-base-200: #101624;
    --color-base-300: #0a0e17;
    --color-base-content: oklch(96% 0.007 247.896);
    --color-primary: #01baef;
    --color-primary-content: oklch(14% 0.005 285.823);
    --color-secondary: #42f2f7;
    --color-secondary-content: oklch(14% 0.005 285.823);
    --color-accent: oklch(79% 0.209 151.711);
    --color-accent-content: oklch(14% 0.005 285.823);
    --color-neutral: #0d1014;
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: #0091ff;
    --color-info-content: oklch(14% 0.005 285.823);
    --color-success: #10b981;
    --color-success-content: oklch(14% 0.005 285.823);
    --color-warning: #fbbf24;
    --color-warning-content: oklch(14% 0.005 285.823);
    --color-error: #ef4444;
    --color-error-content: oklch(14% 0.005 285.823);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

.number-apperance-none {
    appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield;
}

.animate-progress-indeterminate {
    transform-origin: 0% 50%;
    animation: progress-indeterminate 1s linear infinite;
}
@keyframes progress-indeterminate {
    0% {
        transform: translateX(0) scaleX(0);
    }
    40% {
        transform: translateX(0) scaleX(0.4);
    }
    100% {
        transform: translateX(100%) scaleX(0.5);
    }
}

/* @plugin "daisyui/theme" {
    name: "nspmwip";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: #111827;
    --color-base-200: #0c111c;
    --color-base-300: #06090e;
    --color-base-content: oklch(96% 0.007 247.896);
    --color-primary: #01baef;
    --color-primary-content: oklch(14% 0.005 285.823);
    --color-secondary: #42f2f7;
    --color-secondary-content: oklch(14% 0.005 285.823);
    --color-accent: #f40076;
    --color-accent-content: oklch(98% 0.003 247.858);
    --color-neutral: oklch(27% 0.041 260.031);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: #2563eb;
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: #10b981;
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: #fbbf24;
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: #ef4444;
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
} */

/*React Toastify classes*/
/** Used to define container behavior: width, position: fixed etc... **/
/*.Toastify__toast-container {
}*/
/*
/** Used to define the position of the ToastContainer **/
/*.Toastify__toast-container--top-left {
}
.Toastify__toast-container--top-center {
}
.Toastify__toast-container--top-right {
}
.Toastify__toast-container--bottom-left {
}
.Toastify__toast-container--bottom-center {
}
.Toastify__toast-container--bottom-right {
}*/

/** Classes for the displayed toast **/
/*.Toastify__toast {
}
.Toastify__toast--rtl {
}*/

/** Used to position the icon **/
/*.Toastify__toast-icon {
}*/

/** handle the notification color and the text color based on the theme **/
/*.Toastify__toast-theme--dark {
}
.Toastify__toast-theme--light {
}
.Toastify__toast-theme--colored.Toastify__toast--default {
}
.Toastify__toast-theme--colored.Toastify__toast--info {
}
.Toastify__toast-theme--colored.Toastify__toast--success {
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
}
.Toastify__toast-theme--colored.Toastify__toast--error {
}

.Toastify__progress-bar {
}
.Toastify__progress-bar--rtl {
}
.Toastify__progress-bar-theme--light {
}
.Toastify__progress-bar-theme--dark {
}
.Toastify__progress-bar--info {
}
.Toastify__progress-bar--success {
}
.Toastify__progress-bar--warning {
}
.Toastify__progress-bar--error {
}
/** colored notifications share the same progress bar color **/
/*.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
}*/

/** Classes for the close button. Better use your own closeButton **/
/*.Toastify__close-button {
}
.Toastify__close-button--default {
}
.Toastify__close-button > svg {
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
}*/
