@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}


.modal {
    &.htmx-request {
    background-color: oklch(0% 0 0/ 0.4);
    pointer-events: auto;
    visibility: visible;
    opacity: 100%;
    .modal-box {
        translate: 0 0;
        scale: 1;
        opacity: 1;
    }
}
