.vscode
*.pyc
docker/web/db.sqlite3
docker/web/nspanelmanager/db.sqlite3
firmware/NSPanelManagerFirmware/data/config.json
firmware/NSPanelManagerFirmware/.pio
firmware/NSPanelManagerFirmware/littlefs.md5
firmware/NSPanelManagerFirmware/.cproject
firmware/NSPanelManagerFirmware/.project
firmware/NSPanelManagerFirmware/.settings
firmware/NSPanelManagerFirmware/nspanels_to_ota.txt
firmware/NSPanelManagerFirmware/.cache
firmware/NSPanelManagerFirmware/.ccls
firmware/NSPanelManagerFirmware/.ccls-cache
MQTTManager-RUST/

# MacOS
.DS_Store

# Ignore only neccesary files from LaTeX manual
docs/tex/*
!docs/tex/*.pdf
!docs/tex/*.tex