asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
Django==4.2.6
django-environ==0.11.2
django-mathfilters==1.0.0
gevent==23.9.1
greenlet==3.0.0
idna==3.4
paho-mqtt==1.6.1
pip-upgrade==0.0.6
psutil==5.9.5
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
urllib3==2.0.6
websocket-client==1.6.4
websockets==11.0.3
zope.event==5.0
zope.interface==6.1
