asgiref==3.6.0
Django==4.1.7
django-environ==0.10.0
django-mathfilters==1.0.0
django-ranged-response==0.2.0
gevent==22.10.2
greenlet==2.0.2
paho-mqtt==1.6.1
pip-upgrade==0.0.6
psutil==5.9.4
pytz==2023.3
sqlparse==0.4.3
uWSGI==2.0.22
websocket-client==1.6.1
websockets==10.4
zope.event==4.6
zope.interface==5.5.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
conan==2.0.9
distro==1.8.0
fasteners==0.18
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.3
patch-ng==1.17.4
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
urllib3==1.26.16
