asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.0.1
Django==4.1.7
django-mathfilters==1.0.0
django-ranged-response==0.2.0
gevent==22.10.2
greenlet==2.0.2
idna==3.4
paho-mqtt==1.6.1
psutil==5.9.4
pytz==2023.3
requests==2.28.2
sqlparse==0.4.3
urllib3==1.26.14
websocket-client==1.5.1
websockets==10.4
zope.event==4.6
zope.interface==5.5.2
