{% load static %}

<!DOCTYPE html>
<html lang="en" class="min-h-screen bg-base-200">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Configure HTMX -->
  <!-- <meta name="htmx-config" content='{"includeIndicatorStyles": false, "requestClass": "modal-open", "globalViewTransitions": true}'> -->
  <meta name="htmx-config" content='{"includeIndicatorStyles": false, "globalViewTransitions": true}'>

  <link rel="shortcut icon" type="image/png" href="{{ ingress_path }}{% static 'favicon.png' %}"/> <!-- Favicon-->
  <link rel="stylesheet" href="{{ ingress_path }}{% static 'css/main.css' %}?version={{ version }}"> <!-- Compiled version of Tailwind CSS -->
  <script src="{{ ingress_path }}{% static 'jquery.min.js' %}?version={{ version }}"></script>
  <script src="{{ ingress_path }}{% static 'jquery-ui-1.14.1.custom/jquery-ui.min.js' %}?version={{ version }}"></script>
  <script src="{{ ingress_path }}{% static 'node_modules/htmx.org/dist/htmx.min.js' %}?version={{ version }}"></script>
  <script src="{{ ingress_path }}{% static 'node_modules/htmx-ext-ws/dist/ws.min.js' %}?version={{ version }}"></script>
  <script src="{{ ingress_path }}{% static 'base.js' %}?refresh={% now 'U' %}?version={{ version }}"></script>
  <script src="{{ ingress_path }}{% static 'stomp.min.js' %}?refresh={% now 'U' %}?version={{ version }}"></script>
  <link rel="stylesheet" href="{{ ingress_path }}{% static 'mdi/css/materialdesignicons.min.css' %}?version={{ version }}">
  <link rel="stylesheet" href="{{ ingress_path }}{% static 'loader.css' %}?refresh={% now 'U' %}?version={{ version }}">
  <link rel="stylesheet" href="{{ ingress_path }}{% static 'base.css' %}?refresh={% now 'U' %}?version={{ version }}">
  <link rel="stylesheet" href="{{ ingress_path }}{% static 'jquery-ui-1.14.1.custom/jquery-ui.min.css' %}?refresh={% now 'U' %}?version={{ version }}">

  <script>

  var stomp_subscriptions = {};
  function stomp_connected_callback() {
    console.log("Connected to STOMP");

    // Resubscribe to all subscriptions
    for(const subscription in stomp_subscriptions) {
      stomp_client.subscribe(subscription);
    }
  }

  function stomp_disconnected_callback() {
    console.log("Disconnected from STOMP");
  }

  function stomp_error_callback(error) {
    console.error("STOMP error:", error);
  }

  function stomp_subscribe(topic, callback) {
    var subscription = stomp_client.subscribe(topic, stomp_message_callback);

    if(stomp_subscriptions[topic]) {
      stomp_subscriptions[topic]["callbacks"].push(callback);
    } else {
      stomp_subscriptions[topic] = {"subscription": subscription, "callbacks": [callback]};
    }
  }

  function stomp_unsubscribe(topic, callback) {
    stomp_subscriptions[topic]["callbacks"].splice(stomp_subscriptions[topic]["callbacks"].indexOf(callback), 1);

    if(stomp_subscriptions[topic]["callbacks"].length === 0) {
      stomp_subscriptions[topic]["subscription"].unsubscribe();
      delete stomp_subscriptions[topic];
    }
  }

  function stomp_message_callback(message) {
    stomp_subscriptions[message.headers.destination]["callbacks"].forEach(function(callback) {
      callback(message);
    });
  }

  function stomp_reconnect_callback() {
    // No username or password required to connect to STOMP websocket. Set dummy values.
    stomp_client.connect("user", "pass", stomp_connected_callback, stomp_disconnected_callback, stomp_error_callback);
  }

  // Setup base Stomp connection so that all other components can it use
  var stomp_websocket_address = "";
  if(location.protocol === "https:") {
    stomp_websocket_address = "wss://";
  } else {
    stomp_websocket_address = "ws://";
  }

  stomp_websocket_address += location.hostname + ":" + location.port + "/websocket/stomp";
  var stomp_client = Stomp.client(stomp_websocket_address);
  stomp_client.heartbeat.outgoing = 1000;
  stomp_client.heartbeat.incoming = 1000;
  stomp_client.reconnect_delay = 2500;
  // stomp_client.debug = function(str) {} // Disable debug logging
  stomp_client.connect("user", "pass", stomp_connected_callback, stomp_disconnected_callback, stomp_error_callback);
  </script>


  <script src="{{ ingress_path }}{% static 'mqttmanager_ws.js' %}?refresh={% now 'U' %}"></script>
  <!-- <script type="module" src="https://unpkg.com/esp-web-tools@9/dist/web/install-button.js?module"></script> -->
  {% block head %}
  {% endblock %}
  <title>NSPanelManager</title>
</head>

<body class="min-h-screen">
  {% include 'modals.html' %}
  {% include 'partial/error_toast.html' %}
  {% include 'navbar.html' %}

  <div class="w-full flex flex-wrap justify-center mx-auto">
    <div class="w-screen max-w-screen-xl">
      <!-- Displays any warnings or errors -->
      <div  class="mt-4 mb-4">
        <div id="ws_connection_in_progress_notification" role="alert" class="alert alert-info hidden">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 shrink-0"><path d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" /></svg>
          <span class="flex items-center">
              <span class="pr-2">Connecting to MQTTManager.</span>
              <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
              <svg class="h-5 w-5" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
                  <g fill="none" fill-rule="evenodd" stroke-width="2">
                      <circle cx="22" cy="22" r="1">
                          <animate attributeName="r"
                              begin="0s" dur="1.8s"
                              values="1; 20"
                              calcMode="spline"
                              keyTimes="0; 1"
                              keySplines="0.165, 0.84, 0.44, 1"
                              repeatCount="indefinite" />
                          <animate attributeName="stroke-opacity"
                              begin="0s" dur="1.8s"
                              values="1; 0"
                              calcMode="spline"
                              keyTimes="0; 1"
                              keySplines="0.3, 0.61, 0.355, 1"
                              repeatCount="indefinite" />
                      </circle>
                      <circle cx="22" cy="22" r="1">
                          <animate attributeName="r"
                              begin="-0.9s" dur="1.8s"
                              values="1; 20"
                              calcMode="spline"
                              keyTimes="0; 1"
                              keySplines="0.165, 0.84, 0.44, 1"
                              repeatCount="indefinite" />
                          <animate attributeName="stroke-opacity"
                              begin="-0.9s" dur="1.8s"
                              values="1; 0"
                              calcMode="spline"
                              keyTimes="0; 1"
                              keySplines="0.3, 0.61, 0.355, 1"
                              repeatCount="indefinite" />
                      </circle>
                  </g>
              </svg>
          </span>
          <div>
              <button hx-post="{% url 'restart_mqtt_manager' %}" hx-swap="none" class="btn btn-sm btn-primary">Restart MQTTManager</button>
          </div>
        </div>
        {% for notification in notifications %}
        {% if notification.class == "error" %}
        <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:text-white">{{ notification.text }}</div>
        {% elif notification.class == "warning" %}
        <div class="p-4 mt-2 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-300 dark:text-gray-800">{{ notification.text }}</div>
        {% elif notification.class == "info" %}
        <div class="p-4 mb-2 mt-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-blue-700 dark:text-gray-50">{{ notification.text }}</div>
        {% else  %}
        <div class="p-4 mb-2 mt-4 text-sm text-pink-800 rounded-lg bg-pink-50-50 dark:bg-pink-50-700 dark:text-gray-50">UNKNOWN NOTIFICATION CLASS: {{ notification.class }}</div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="mt-4 px-2">
          <!-- If no manager address is set, show the initial setup guide. -->
          {% if manager_address == "" %}{% include 'modals/initial_setup/welcome.html' %}{% endif %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- This #modal gets replace when an HTMX-request is made that uses hx-swap-oob to replace it with a new modal -->
  <div id="modal"></div>
  {% include 'about.html' %}
</body>

</html>
