{% extends 'base.html' %}

{% block head %}
<script>
  var global_screensaver_mode = "{{ screensaver_mode_global }}";
</script>

{% load static %}
<script src="{{ ingress_path }}{% static 'edit_nspanel.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Data needed by javascript -->
<span class="hidden" id="nspanel_id">{{ panel_info.data.id }}</span>
<span class="hidden" id="max_live_log_messages">{{ max_live_log_messages }}</span>

<div class="flex items-center justify-between" id="nspanel_settings_container" hx-ext="ws" ws-connect="/websocket">
  <div>
    <h2 class="font-medium text-2xl" id="nspanel_name">Settings for '{{ panel_info.data.friendly_name }}'</h2>
    <h2 class="font-light text-xs">MAC: <span id="nspanel_mac">{{ panel_info.data.mac_address }}</span></h2>
  </div>
  <a href="https://nspanelmanager.com/docs/web-interface#nspanel-page" target="_blank" class="btn btn-outline btn-info">
    Help
  </a>
</div>
<div class="pm-2" id="warning_container">
</div>
<div class="md:flex md:justify-between md:items-start mt-2 mb-6">
  <div class="w-full mr-4">
    <form method="POST" class="mt-2" action="{% url 'save_panel_settings' panel_id=panel_info.data.id %}">
      {% csrf_token %}

      <div class="p-4 bg-base-100 rounded-md shadow-lg w-full">
        <!-- General settings -->
        <span class="block mb-2 text-xl">General</span>
        <!-- Friendly name -->
        <div class="">
          <label for="friendly_name" class="block mb-2 text-sm font-medium">Friendly name</label>
          <div class="flex flex-row-reverse">
            <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
            type="text" class="input" name="name" value="{{ panel_info.data.friendly_name }}">
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent">
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Friendly name</title>
                <path d="M7,9A2,2 0 0,1 5,7A2,2 0 0,1 7,5A2,2 0 0,1 9,7A2,2 0 0,1 7,9M20,3H4A1,1 0 0,0 3,4V10A1,1 0 0,0
                  4,11H20A1,1 0 0,0 21,10V4A1,1 0 0,0 20,3M7,19A2,2 0 0,1 5,17A2,2 0 0,1 7,15A2,2 0 0,1 9,17A2,2 0 0,1
                  7,19M20,13H4A1,1 0 0,0 3,14V20A1,1 0 0,0 4,21H20A1,1 0 0,0 21,20V14A1,1 0 0,0 20,13Z"></path>
              </svg>
            </span>
          </div>
        </div>

        <!-- Panel type-->
        <div class="flex-auto mt-4">
          <h3 class="block mb-2 text-sm font-medium">NSPanel type/orientation</h3>
          <ul
            class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex bg-base-300">
            <li class="w-full sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="is_not_us_panel" type="radio" name="is_us_panel" value="False"
                {% if settings.is_us_panel != "True" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="is_not_us_panel" class="w-full py-3 ms-2 text-sm font-medium">EU (horizontal)</label>
              </div>
            </li>
            <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="is_us_panel" type="radio" name="is_us_panel" value="True"
                {% if settings.is_us_panel == "True" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="is_us_panel" class="w-full py-3 ms-2 text-sm font-medium">US (vertical)</label>
              </div>
            </li>
          </ul>
        </div>

        <!-- Default room -->
        <div class="mt-4">
          <label for="room_id" class="block mb-2 text-sm font-medium">Default room</label>
          <div class="flex flex-row-reverse">
            <select name="room_id" id="room_id" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/room_id">
              {% for room in rooms %}
              {% if room.id == panel_info.data.room.id %}
              <option value="{{ room.id }}" selected>{{ room.friendly_name }}</option>
              {% else %}
              <option value="{{ room.id }}">{{ room.friendly_name }}</option>
              {% endif %}
              {% endfor %}
            </select>
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/room_id:border-accent">
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Default room</title>
                <path
                  d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
              </svg>
            </span>
          </div>
        </div>

        <!-- Lock to default room? -->
        <div class="flex-auto mt-2">
          <ul
            class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex bg-base-300">
            <li class="w-full sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="lock_to_default_room" type="radio" name="lock_to_default_room" value="False"
                {% if settings.lock_to_default_room != "True" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="lock_to_default_room"
                  class="w-full py-3 ms-2 text-sm font-medium">Can control other rooms</label>
              </div>
            </li>
            <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="cannot_control_other_rooms" type="radio" name="lock_to_default_room" value="True"
                {% if settings.lock_to_default_room == "True" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="cannot_control_other_rooms" class="w-full py-3 ms-2 text-sm font-medium">Locked to default room</label>
              </div>
            </li>
          </ul>
        </div>

        <!-- Default page -->
        <div class="mt-4">
          <label for="default_page" class="block mb-2 text-sm font-medium">Default page</label>
          <div class="flex flex-row-reverse">
            <select name="default_page" id="default_page" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/default_page">
              <option value="0" {% if settings.default_page == "0" %}selected{% endif %}>Main page</option>
              <option value="1" {% if settings.default_page == "1" %}selected{% endif %}>Scenes page</option>
              <option value="2" {% if settings.default_page == "2" %}selected{% endif %}>Room page</option>
            </select>
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/default_page:border-accent">
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Default room</title>
                <path
                  d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
              </svg>
            </span>
          </div>
        </div>

        <!-- Reverse relays -->
        <div class="flex-auto mt-4">
          <label for="default_page" class="block mb-2 text-sm font-medium">Reverse relays</label>
          <ul
            class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex bg-base-300">
            <li class="w-full sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="do_not_reverse_relays" type="radio" name="reverse_relays" value="False"
                {% if settings.reverse_relays != "True" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="do_not_reverse_relays"
                  class="w-full py-3 ms-2 text-sm font-medium">Do not reverse relays</label>
              </div>
            </li>
            <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="reverse_relays" type="radio" name="reverse_relays" value="True"
                {% if settings.reverse_relays == "True" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="reverse_relays" class="w-full py-3 ms-2 text-sm font-medium">Reverse relays</label>
              </div>
            </li>
          </ul>
        </div>

        <!-- Button modes -->
        <div class="md:flex md:flex-wrap md:justify-between mt-4">
          <!-- Button 1 -->
          <div class="flex-auto mr-1">
            <label for="button1_mode" class="block mb-2 text-sm font-medium">Left button mode</label>
            <div class="flex flex-row-reverse">
              <select name="button1_mode" id="button1_mode" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/default_page">
                <option value="0" {% if panel_info.data.button1_mode == 0 %}selected{% endif %}>Direct mode</option>
                <option value="1" {% if panel_info.data.button1_mode == 1 %}selected{% endif %}>Detached mode</option>
                <option value="2" {% if panel_info.data.button1_mode == 2 %}selected{% endif %}>Custom MQTT</option>
                <option value="3" {% if panel_info.data.button1_mode == 3 %}selected{% endif %}>Follow mode</option>
              </select>
              <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/default_page:border-accent">
                <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title>Left button mode</title>
                  <path
                    d="M13 5C15.21 5 17 6.79 17 9C17 10.5 16.2 11.77 15 12.46V11.24C15.61 10.69 16 9.89 16 9C16 7.34 14.66 6 13 6S10 7.34 10 9C10 9.89 10.39 10.69 11 11.24V12.46C9.8 11.77 9 10.5 9 9C9 6.79 10.79 5 13 5M20 20.5C19.97 21.32 19.32 21.97 18.5 22H13C12.62 22 12.26 21.85 12 21.57L8 17.37L8.74 16.6C8.93 16.39 9.2 16.28 9.5 16.28H9.7L12 18V9C12 8.45 12.45 8 13 8S14 8.45 14 9V13.47L15.21 13.6L19.15 15.79C19.68 16.03 20 16.56 20 17.14V20.5M20 2H4C2.9 2 2 2.9 2 4V12C2 13.11 2.9 14 4 14H8V12L4 12L4 4H20L20 12H18V14H20V13.96L20.04 14C21.13 14 22 13.09 22 12V4C22 2.9 21.11 2 20 2Z" />
                </svg>
              </span>
            </div>

            <!-- Button 1 detached mode -->
            <div id="button1_detached_mode_controls" class="hidden mt-4">
              <label for="button1_detached_mode_light" class="block mb-2 text-sm font-medium">Left button controls light</label>
              <div class="flex flex-row-reverse">
                <select name="button1_detached_mode_light" id="button1_detached_mode_light" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/default_page">
                  {% for light in panel_info.data.room.light_set.all %}
                  {% if panel_info.data.button1_detached_mode_light == light %}
                  <option value="{{ light.id }}" selected>{{ light.friendly_name }}</option>
                  {% else %}
                  <option value="{{ light.id }}">{{ light.friendly_name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/default_page:border-accent">
                  <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <title>Left button controls light</title>
                    <path
                      d="M13 5C15.21 5 17 6.79 17 9C17 10.5 16.2 11.77 15 12.46V11.24C15.61 10.69 16 9.89 16 9C16 7.34 14.66 6 13 6S10 7.34 10 9C10 9.89 10.39 10.69 11 11.24V12.46C9.8 11.77 9 10.5 9 9C9 6.79 10.79 5 13 5M20 20.5C19.97 21.32 19.32 21.97 18.5 22H13C12.62 22 12.26 21.85 12 21.57L8 17.37L8.74 16.6C8.93 16.39 9.2 16.28 9.5 16.28H9.7L12 18V9C12 8.45 12.45 8 13 8S14 8.45 14 9V13.47L15.21 13.6L19.15 15.79C19.68 16.03 20 16.56 20 17.14V20.5M20 2H4C2.9 2 2 2.9 2 4V12C2 13.11 2.9 14 4 14H8V12L4 12L4 4H20L20 12H18V14H20V13.96L20.04 14C21.13 14 22 13.09 22 12V4C22 2.9 21.11 2 20 2Z" />
                  </svg>
                </span>
              </div>
            </div>


            <!-- Button 1 MQTT mode -->
            <div id="button1_mqtt_mode_controls" class="hidden">
              <div class="">
                <label for="button1_custom_mqtt_topic" class="block mb-2 text-sm font-medium">Left button MQTT topic name</label>
                <div class="flex flex-row-reverse">
                  <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="button1_custom_mqtt_topic" value="{{ settings.button1_custom_mqtt_topic }}">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent">
                    <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <title>Left button MQTT topic</title>
                      <path d="M7,9A2,2 0 0,1 5,7A2,2 0 0,1 7,5A2,2 0 0,1 9,7A2,2 0 0,1 7,9M20,3H4A1,1 0 0,0 3,4V10A1,1 0 0,0
                        4,11H20A1,1 0 0,0 21,10V4A1,1 0 0,0 20,3M7,19A2,2 0 0,1 5,17A2,2 0 0,1 7,15A2,2 0 0,1 9,17A2,2 0 0,1
                        7,19M20,13H4A1,1 0 0,0 3,14V20A1,1 0 0,0 4,21H20A1,1 0 0,0 21,20V14A1,1 0 0,0 20,13Z"></path>
                    </svg>
                  </span>
                </div>
              </div>

              <div class="">
                <label for="button1_custom_mqtt_payload" class="block mb-2 text-sm font-medium">Left button MQTT payload</label>
                <div class="flex flex-row-reverse">
                  <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="button1_custom_mqtt_payload" value="{{ settings.button1_custom_mqtt_topic }}">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent">
                    <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <title>Left button MQTT payload</title>
                      <path d="M7,9A2,2 0 0,1 5,7A2,2 0 0,1 7,5A2,2 0 0,1 9,7A2,2 0 0,1 7,9M20,3H4A1,1 0 0,0 3,4V10A1,1 0 0,0
                        4,11H20A1,1 0 0,0 21,10V4A1,1 0 0,0 20,3M7,19A2,2 0 0,1 5,17A2,2 0 0,1 7,15A2,2 0 0,1 9,17A2,2 0 0,1
                        7,19M20,13H4A1,1 0 0,0 3,14V20A1,1 0 0,0 4,21H20A1,1 0 0,0 21,20V14A1,1 0 0,0 20,13Z"></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Button 2 -->
          <div class="flex-auto mr-1">
            <label for="button2_mode" class="block mb-2 text-sm font-medium">Right button mode</label>
            <div class="flex flex-row-reverse">
              <select name="button2_mode" id="button2_mode" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/default_page">
                <option value="0" {% if panel_info.data.button2_mode == 0 %}selected{% endif %}>Direct mode</option>
                <option value="1" {% if panel_info.data.button2_mode == 1 %}selected{% endif %}>Detached mode</option>
                <option value="2" {% if panel_info.data.button2_mode == 2 %}selected{% endif %}>Custom MQTT</option>
                <option value="3" {% if panel_info.data.button2_mode == 3 %}selected{% endif %}>Follow mode</option>
              </select>
              <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/default_page:border-accent">
                <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title>Right button mode</title>
                  <path
                    d="M13 5C15.21 5 17 6.79 17 9C17 10.5 16.2 11.77 15 12.46V11.24C15.61 10.69 16 9.89 16 9C16 7.34 14.66 6 13 6S10 7.34 10 9C10 9.89 10.39 10.69 11 11.24V12.46C9.8 11.77 9 10.5 9 9C9 6.79 10.79 5 13 5M20 20.5C19.97 21.32 19.32 21.97 18.5 22H13C12.62 22 12.26 21.85 12 21.57L8 17.37L8.74 16.6C8.93 16.39 9.2 16.28 9.5 16.28H9.7L12 18V9C12 8.45 12.45 8 13 8S14 8.45 14 9V13.47L15.21 13.6L19.15 15.79C19.68 16.03 20 16.56 20 17.14V20.5M20 2H4C2.9 2 2 2.9 2 4V12C2 13.11 2.9 14 4 14H8V12L4 12L4 4H20L20 12H18V14H20V13.96L20.04 14C21.13 14 22 13.09 22 12V4C22 2.9 21.11 2 20 2Z" />
                </svg>
              </span>
            </div>

            <!-- Button 1 detached mode -->
            <div id="button2_detached_mode_controls" class="hidden mt-4">
              <label for="button2_detached_mode_light" class="block mb-2 text-sm font-medium">Right button controls light</label>
              <div class="flex flex-row-reverse">
                <select name="button2_detached_mode_light" id="button1_detached_mode_light" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/default_page">
                  {% for light in panel_info.data.room.light_set.all %}
                  {% if panel_info.data.button2_detached_mode_light == light %}
                  <option value="{{ light.id }}" selected>{{ light.friendly_name }}</option>
                  {% else %}
                  <option value="{{ light.id }}">{{ light.friendly_name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/default_page:border-accent">
                  <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <title>Left button controls light</title>
                    <path
                      d="M13 5C15.21 5 17 6.79 17 9C17 10.5 16.2 11.77 15 12.46V11.24C15.61 10.69 16 9.89 16 9C16 7.34 14.66 6 13 6S10 7.34 10 9C10 9.89 10.39 10.69 11 11.24V12.46C9.8 11.77 9 10.5 9 9C9 6.79 10.79 5 13 5M20 20.5C19.97 21.32 19.32 21.97 18.5 22H13C12.62 22 12.26 21.85 12 21.57L8 17.37L8.74 16.6C8.93 16.39 9.2 16.28 9.5 16.28H9.7L12 18V9C12 8.45 12.45 8 13 8S14 8.45 14 9V13.47L15.21 13.6L19.15 15.79C19.68 16.03 20 16.56 20 17.14V20.5M20 2H4C2.9 2 2 2.9 2 4V12C2 13.11 2.9 14 4 14H8V12L4 12L4 4H20L20 12H18V14H20V13.96L20.04 14C21.13 14 22 13.09 22 12V4C22 2.9 21.11 2 20 2Z" />
                  </svg>
                </span>
              </div>
            </div>


            <!-- Button 1 MQTT mode -->
            <div id="button2_mqtt_mode_controls" class="hidden">
              <div class="">
                <label for="button2_custom_mqtt_topic" class="block mb-2 text-sm font-medium">Right button MQTT topic name</label>
                <div class="flex flex-row-reverse">
                  <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="button2_custom_mqtt_topic" value="{{ settings.button2_custom_mqtt_topic }}">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent">
                    <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <title>Right button MQTT topic</title>
                      <path d="M7,9A2,2 0 0,1 5,7A2,2 0 0,1 7,5A2,2 0 0,1 9,7A2,2 0 0,1 7,9M20,3H4A1,1 0 0,0 3,4V10A1,1 0 0,0
                        4,11H20A1,1 0 0,0 21,10V4A1,1 0 0,0 20,3M7,19A2,2 0 0,1 5,17A2,2 0 0,1 7,15A2,2 0 0,1 9,17A2,2 0 0,1
                        7,19M20,13H4A1,1 0 0,0 3,14V20A1,1 0 0,0 4,21H20A1,1 0 0,0 21,20V14A1,1 0 0,0 20,13Z"></path>
                    </svg>
                  </span>
                </div>
              </div>

              <div class="">
                <label for="button2_custom_mqtt_payload" class="block mb-2 text-sm font-medium">Right button MQTT payload</label>
                <div class="flex flex-row-reverse">
                  <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="button2_custom_mqtt_payload" value="{{ settings.button2_custom_mqtt_topic }}">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent">
                    <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <title>Right button MQTT payload</title>
                      <path d="M7,9A2,2 0 0,1 5,7A2,2 0 0,1 7,5A2,2 0 0,1 9,7A2,2 0 0,1 7,9M20,3H4A1,1 0 0,0 3,4V10A1,1 0 0,0
                        4,11H20A1,1 0 0,0 21,10V4A1,1 0 0,0 20,3M7,19A2,2 0 0,1 5,17A2,2 0 0,1 7,15A2,2 0 0,1 9,17A2,2 0 0,1
                        7,19M20,13H4A1,1 0 0,0 3,14V20A1,1 0 0,0 4,21H20A1,1 0 0,0 21,20V14A1,1 0 0,0 20,13Z"></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Relay default modes-->
        <div class="md:flex md:flex-wrap md:justify-between mt-4">
          <!-- Relay 1 default mode -->

          <div class="flex-auto mr-1">
            <h3 class="block mb-2 text-sm font-medium">Relay 1 default mode</h3>
            <ul
              class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex bg-base-300">
              <li class="w-full sm:border-b-0 sm:border-r border-neutral">
                <div class="flex items-center ps-3">
                  <input id="relay1_off" type="radio" name="relay1_default_mode" value="False"
                  {% if settings.relay1_default_mode != "True" %}checked{% endif %}
                    class="w-4 h-4 radio radio-accent">
                  <label for="relay1_off"
                    class="w-full py-3 ms-2 text-sm font-medium">Off</label>
                </div>
              </li>
              <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                <div class="flex items-center ps-3">
                  <input id="relay1_on" type="radio" name="relay1_default_mode" value="True"
                  {% if settings.relay1_default_mode == "True" %}checked{% endif %}
                    class="w-4 h-4 radio radio-accent">
                  <label for="relay1_on" class="w-full py-3 ms-2 text-sm font-medium">On</label>
                </div>
              </li>
            </ul>
          </div>

          <!-- Relay 2 default mode-->
          <div class="flex-auto ml-1">
            <h3 class="block mb-2 text-sm font-medium">Relay 2 default mode</h3>
            <ul
              class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex bg-base-300">
              <li class="w-full sm:border-b-0 sm:border-r border-neutral">
                <div class="flex items-center ps-3">
                  <input id="relay2_off" type="radio" name="relay2_default_mode" value="False"
                  {% if settings.relay2_default_mode != "True" %}checked{% endif %}
                    class="w-4 h-4 radio radio-accent">
                  <label for="relay2_off"
                    class="w-full py-3 ms-2 text-sm font-medium">Off</label>
                </div>
              </li>
              <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                <div class="flex items-center ps-3">
                  <input id="relay2_on" type="radio" name="relay2_default_mode" value="True"
                  {% if settings.relay2_default_mode == "True" %}checked{% endif %}
                    class="w-4 h-4 radio radio-accent">
                  <label for="relay2_on" class="w-full py-3 ms-2 text-sm font-medium">On</label>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Relay register as light -->
        <div class="md:flex md:flex-wrap md:justify-between mt-4">
          <!-- Relay 1 -->
          <div class="flex-auto mr-1">
            <h3 class="block mb-2 text-sm font-medium">Register relay 1 as a</h3>
            <ul
              class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex bg-base-300">
              <li class="w-full sm:border-b-0 sm:border-r border-neutral">
                <div class="flex items-center ps-3">
                  <input id="relay1_is_not_light" type="radio" name="relay1_is_light" value="False"
                  {% if settings.relay1_is_light != "True" %}checked{% endif %}
                    class="w-4 h-4 radio radio-accent">
                  <label for="relay1_is_not_light"
                    class="w-full py-3 ms-2 text-sm font-medium">Switch</label>
                </div>
              </li>
              <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                <div class="flex items-center ps-3">
                  <input id="relay1_is_light" type="radio" name="relay1_is_light" value="True"
                  {% if settings.relay1_is_light == "True" %}checked{% endif %}
                    class="w-4 h-4 radio radio-accent">
                  <label for="relay1_is_light" class="w-full py-3 ms-2 text-sm font-medium">Light</label>
                </div>
              </li>
            </ul>
          </div>

          <!-- Relay 2 -->
          <div class="flex-auto ml-1">
            <h3 class="block mb-2 text-sm font-medium">Register relay 2 as a</h3>
            <ul
              class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex bg-base-300">
              <li class="w-full sm:border-b-0 sm:border-r border-neutral">
                <div class="flex items-center ps-3">
                  <input id="relay2_is_not_light" type="radio" name="relay2_is_light" value="False"
                  {% if settings.relay2_is_light != "True" %}checked{% endif %}
                    class="w-4 h-4 radio radio-accent">
                  <label for="relay2_is_not_light"
                    class="w-full py-3 ms-2 text-sm font-medium">Switch</label>
                </div>
              </li>
              <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                <div class="flex items-center ps-3">
                  <input id="relay2_is_light" type="radio" name="relay2_is_light" value="True"
                  {% if settings.relay2_is_light == "True" %}checked{% endif %}
                    class="w-4 h-4 radio radio-accent">
                  <label for="relay2_is_light" class="w-full py-3 ms-2 text-sm font-medium">Light</label>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Screen brightness -->
        <div class="mt-4">
          <label for="screen_dim_level" class="block mb-2 text-sm font-medium">Screen brightness</label>
          <div class="flex flex-row-reverse">
            <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
            type="number" class="input" id="screen_dim_level" name="screen_dim_level" value="{{ settings.screen_dim_level }}" placeholder="Global">
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent">
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Friendly name</title>
                <path
                  d="M12,18V6A6,6 0 0,1 18,12A6,6 0 0,1 12,18M20,15.31L23.31,12L20,8.69V4H15.31L12,0.69L8.69,4H4V8.69L0.69,12L4,15.31V20H8.69L12,23.31L15.31,20H20V15.31Z" />
              </svg>
            </span>
          </div>
        </div>

        <!-- Screensaver brightness -->
        <div class="mt-4">
          <label for="screensaver_dim_level" class="block mb-2 text-sm font-medium">Screensaver brightness</label>
          <div class="flex flex-row-reverse">
            <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
            type="number" class="input" id="screensaver_dim_level" name="screensaver_dim_level" value="{{ settings.screensaver_dim_level }}" placeholder="Global">
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent">
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Friendly name</title>
                <path
                  d="M12,18V6A6,6 0 0,1 18,12A6,6 0 0,1 12,18M20,15.31L23.31,12L20,8.69V4H15.31L12,0.69L8.69,4H4V8.69L0.69,12L4,15.31V20H8.69L12,23.31L15.31,20H20V15.31Z" />
              </svg>
            </span>
          </div>
        </div>

        <!-- Screensaver activation timeout -->
        <div class="mt-4">
          <label for="screensaver_activation_timeout" class="block mb-2 text-sm font-medium">Screensaver activation timeout</label>
          <div class="flex flex-row-reverse">
            <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
            type="number" class="input" id="screensaver_activation_timeout" name="screensaver_activation_timeout" value="{{ settings.screensaver_activation_timeout }}" placeholder="Global">
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent">
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Screensaver activation timeout</title>
                <path
                  d="M6,2H18V8H18V8L14,12L18,16V16H18V22H6V16H6V16L10,12L6,8V8H6V2M16,16.5L12,12.5L8,16.5V20H16V16.5M12,11.5L16,7.5V4H8V7.5L12,11.5M10,6H14V6.75L12,8.75L10,6.75V6Z" />
              </svg>
            </span>
          </div>
        </div>

        <!-- Screensaver mode -->
        <div class="mt-4">
          <label for="screensaver_mode" class="block mb-2 text-sm font-medium">Screensaver mode</label>
          <div class="flex flex-row-reverse">
            <select name="screensaver_mode" id="screensaver_mode" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/room_id">
              <option value="with_background" {% if settings.screensaver_mode == "with_background" %}selected{% endif %}>Show with background (clock, date and weather)</option>
              <option value="without_background" {% if settings.screensaver_mode == "without_background" %}selected{% endif %}>Show without background (clock, date and weather)</option>
              <option value="datetime_with_background" {% if settings.screensaver_mode == "datetime_with_background" %}selected{% endif %}>Show with background (no weather)</option>
              <option value="datetime_without_background" {% if settings.screensaver_mode == "datetime_without_background" %}selected{% endif %}>Show without background (no weather)</option>
              <option value="no_screensaver" {% if settings.screensaver_mode == "no_screensaver" %}selected{% endif %}>No screensaver (turn off screen)</option>
              <option value="global" {% if settings.screensaver_mode == "global" %}selected{% endif %}>Global (use global setting)</option>
            </select>
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/room_id:border-accent">
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Screensaver mode</title>
                <path
                  d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
              </svg>
            </span>
          </div>
        </div>

        <!-- Screensaver inside temperature settings -->
        <div class="flex-auto mt-4">
            <h3 class="block mb-2 text-sm font-medium">Screensaver inside temperature</h3>
            <ul class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                    <input id="show_screensaver_inside_temperature_global" type="radio" name="show_screensaver_inside_temperature" value="global" {% if settings.show_screensaver_inside_temperature == "global" %}checked{% endif %}
                        class="w-4 h-4 radio radio-accent">
                    <label for="show_screensaver_inside_temperature_global" class="w-full py-3 ms-2 text-sm font-medium">Global</label>
                    </div>
                </li>

                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                        <input id="show_screensaver_inside_temperature" type="radio" name="show_screensaver_inside_temperature" value="True" {% if settings.show_screensaver_inside_temperature == "True" %}checked{% endif %}
                            class="w-4 h-4 radio radio-accent">
                        <label for="show_screensaver_inside_temperature" class="w-full py-3 ms-2 text-sm font-medium">Show inside temperature</label>
                    </div>
                </li>

                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                    <input id="hide_screensaver_inside_temperature" type="radio" name="show_screensaver_inside_temperature" value="False" {% if settings.show_screensaver_inside_temperature == "False" %}checked{% endif %}
                        class="w-4 h-4 radio radio-accent">
                    <label for="hide_screensaver_inside_temperature"
                        class="w-full py-3 ms-2 text-sm font-medium">Hide inside temperature</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Screensaver outside temperature settings -->
        <div class="flex-auto mt-4" id="screensaver_outside_temperature_setting">
            <h3 class="block mb-2 text-sm font-medium">Screensaver outside temperature</h3>
            <ul class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                    <input id="show_screensaver_outside_temperature_global" type="radio" name="show_screensaver_outside_temperature" value="global" {% if settings.show_screensaver_outside_temperature == "global" %}checked{% endif %}
                        class="w-4 h-4 radio radio-accent">
                    <label for="show_screensaver_outside_temperature_global" class="w-full py-3 ms-2 text-sm font-medium">Global</label>
                    </div>
                </li>

                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                        <input id="show_screensaver_outside_temperature" type="radio" name="show_screensaver_outside_temperature" value="True" {% if settings.show_screensaver_outside_temperature == "True" %}checked{% endif %}
                            class="w-4 h-4 radio radio-accent">
                        <label for="show_screensaver_outside_temperature" class="w-full py-3 ms-2 text-sm font-medium">Show outside temperature</label>
                    </div>
                </li>

                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                    <input id="hide_screensaver_outside_temperature" type="radio" name="show_screensaver_outside_temperature" value="False" {% if settings.show_screensaver_outside_temperature == "False" %}checked{% endif %}
                        class="w-4 h-4 radio radio-accent">
                    <label for="hide_screensaver_outside_temperature"
                        class="w-full py-3 ms-2 text-sm font-medium">Hide outside temperature</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Temperature calibration -->
        <div class="mt-4">
          <label for="temperature_calibration" class="block mb-2 text-sm font-medium">Temperature calibration</label>
          <div class="flex flex-row-reverse">
            <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
            type="number" class="input" id="temperature_calibration" name="temperature_calibration" value="{{ settings.temperature_calibration }}" placeholder="0">
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent">
              <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Temperature calibration</title>
                <path
                  d="M15 13V5A3 3 0 0 0 9 5V13A5 5 0 1 0 15 13M12 4A1 1 0 0 1 13 5V8H11V5A1 1 0 0 1 12 4Z" />
              </svg>
            </span>
          </div>
        </div>

        <div class="text-right mt-4">
          <button type="submit"
            class="btn btn-success">Save</button>
        </div>
      </div>
    </form>
  </div>


  <div class="md:sticky md:top-4 w-full md:w-72">
    <div class="block p-4 pb-0 rounded-md">
      <!-- Status -->
      <div>
        <span class="font-medium text-lg">Status</span>
        <div class="block mt-2 rounded-lg bg-base-100 border-solid border-1 shadow-lg">
          <div class="p-3 border-solid border-b-2 border-base-300">
            {% component "nspanel_status_text" id=panel_info.data.id state=panel_info.status.state progress=panel_info.status.update_progress %}{% endcomponent %}
          </div>
          {% component "nspanel_update_progress" id=panel_info.data.id state=panel_info.status.state progress=panel_info.status.update_progress %}{% endcomponent %}
          <div class="p-3 border-solid border-b-2 border-base-300">
            {% component "nspanel_status_wifi_signal_strength" id=panel_info.data.id state=panel_info.status.state signal_strength=panel_info.status.rssi %}{% endcomponent %}
          </div>
          <div class="p-3 border-solid border-b-2 border-base-300">
            {% component "nspanel_status_ram_usage" id=panel_info.data.id state=panel_info.status.state ram_usage=panel_info.status.ram_usage %}{% endcomponent %}
          </div>
          <div class="p-3">
            {% component "nspanel_status_temperature" id=panel_info.data.id state=panel_info.status.state temperature=panel_info.status.temperature %}{% endcomponent %}
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div class="mt-4">
        <span class="font-medium text-lg">Actions</span>
        <div class="block mt-2 rounded-lg bg-base-100 shadow-lg">
          {% component "nspanel_reboot_button" id=panel_info.data.id state=panel_info.status.state %}{% endcomponent %}
          {% component "nspanel_visit_link" id=panel_info.data.id state=panel_info.status.state address=panel_info.status.ip_address %}{% endcomponent %}
          <div hx-post="{% url 'htmx_nspanel_update_firmware' panel_info.data.id %}" hx-trigger="click" hx-swap="none" class="p-3 w-full border-solid border-b-2 border-base-300 hover:bg-base-300 cursor-pointer">
            <span class="mdi mdi-upload me-2"></span><span class="">Update firmware</span>
          </div>
          <div hx-post="{% url 'htmx_nspanel_update_screen' panel_info.data.id %}" hx-trigger="click" hx-swap="none" class="p-3 w-full border-solid border-b-2 border-base-300 hover:bg-base-300 cursor-pointer">
            <span class="mdi mdi-table-arrow-up me-2"></span><span class="">Update GUI</span>
          </div>
          <div hx-delete="{% url 'htmx_nspanel_delete' nspanel_id=panel_info.data.id %}" hx-trigger="click" class="nspanel-delete-button p-3 w-full border-solid border-b-2 border-base-300 hover:bg-base-300 cursor-pointer rounded-b-lg text-red-600">
            <span class="mdi mdi-table-arrow-up me-2"></span><span class="">Delete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Logging -->
<div class="p-4 mb-6 rounded-md shadow-lg bg-base-100 w-full">
  <span class="block mb-2 text-xl">Logs</span>

  <table class="table table-xs">
    <thead>
      <tr>
        <th class="px-3 py-1">Time</th>
        <th class="px-3 py-1">Level</th>
        <th class="px-3 py-1">Message</th>
      </tr>
    </thead>
    <tbody id="log_body" class="">
        {% for message in logs.messages %}
        <tr class="hover">
            <td class="py-1">
                {{ message.time }}
            </td>
            <td class="py-1">
                {% if message.level == "ERROR" %}
                    <span class="text-error">ERROR</span>
                {% elif message.level == "WARNING" %}
                    <span class="text-warning">ERROR</span>
                {% elif message.level == "INFO" %}
                    <span class="text-info">INFO</span>
                {% elif message.level == "DEBUG" %}
                    <span class="">DEBUG</span>
                {% elif message.level == "TRACE" %}
                    <span class="">TRACE</span>
                {% else %}
                    <span class="text-primary">UNKNOWN LOG LEVEL: {{ message.level }}</span>
                {% endif %}
            </td>
            <td class="py-1">{{ message.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
