{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-content">
        <h2 class="title is-4">General settings</h2>
        <form>
            <div class="field">
                <label class="label">Friendly name</label>
                <div class="control">
                    <input class="input" type="text" name="friendly_name" value="{{ room.friendly_name }}">
                </div>
            </div>
            <button class="button is-primary">Save</button>
        </form>
    </div>
</div>
<br>
<div class="card">
    <div class="card-content">

    </div>
</div>
{% endblock %}