{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{{ ingress_path }}{% static 'index.css' %}?refresh={% now 'U' %}">

<script>
function add_new_scene() {
    $("#edit_scene_id").val("");
    $("#scene_name").val("");
    $("#add_new_scene_to_room_modal").removeClass("hidden");
}

function edit_scene(id, name) {
    $("#edit_scene_id").val(id);
    $("#scene_name").val(name);
    $("#add_new_scene_to_room_modal").removeClass("hidden");
}
</script>
{% endblock %}

{% block content %}
<div class="md:flex md:justify-between md:items-start mt-2">
  <div class="p-4 bg-base-100 rounded-md shadow-lg w-full">
    <div class="md:flex md:flex-wrap md:justify-between items-center mb-2">
      <span class="block mb-2 text-xl">Global scenes</span>
      <button type="button" hx-get="{{ ingress_path }}{% url "htmx_partial_add_entities_page_to_room" room_id=0 is_scenes_page=True is_global_scenes_page=True %}" hx-swap="none" class="btn btn-info btn-outline">Add scenes page</button>
    </div>

    {% component "nspanel_room_entities_pages" room_id=room.id is_scenes_pages=True is_global_scenes_page=True %}{% endcomponent %}
  </div>
</div>
{% endblock %}
