{% extends 'base.html' %}

{% block head %}
{% load static %}
<script src="{% static 'index.js' %}"></script>
{% endblock %}

{% block content %}
<h2 class="title is-4">Panels</h2>
<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>NSPanel</th>
            <th>Room</th>
            <th>IP Address</th>
            <th>MAC Address</th>
            <th>Last seen</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for nspanel in nspanels %}
        <tr>
            <th>{{ nspanel.friendly_name }}</th>
            <td><a href="{% url 'edit_room' room_id=nspanel.room.id %}"><span class="tag is-link">
                        {{ nspanel.room.friendly_name }}</span></a>
            </td>
            <td>
                <a href="http://{{ nspanel.ip_address }}" target="_blank"><span class="tag is-link">
                        {{ nspanel.ip_address }}</span></a>
            </td>
            <td>{{ nspanel.mac_address }}</td>
            <td>{{ nspanel.last_seen }}</td>
            <td>
                <button type="button" class="button is-link is-small"
                    onclick="startNSPanelOtaUpdate('{{ nspanel.ip_address }}');">OTA Update</button>
                <button type="button" class="button is-link is-small"
                    onclick="startNSPanelTftUpdate('{{ nspanel.ip_address }}');">TFT
                    Update</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}