<div hx-trigger="register_request from:body" hx-get="{% url 'htmx_partial_index_nspanels_section' %}" hx-swap="outerHTML">
    {% if nspanels|length > 0 %}
        <div class="grid md:grid-cols-3 gap-4 mt-4 items-start" id="nspanels_container" hx-ext="ws" ws-connect="/websocket">
        {% for nspanel in nspanels %}
            {% include 'partial/nspanel_index_view_htmx.html' %}
        {% endfor %}
        </div>
    {% else %}
    <div class="grid md:grid-cols-3 gap-4 mt-4 items-start" id="nspanels_container" hx-ext="ws" ws-connect="/websocket">
        <div class="col-span-3 w-full text-center text-xl text-base-content">No NSPanel added to the manager. Getting started? <a href="https://nspanelmanager.com/docs/getting-started/flash-nspanel" target="_blank" class="text-accent">Read the documentation.</a></span>
    </div>
    {% endif %}
</div>
