{% extends 'base.html' %}

{% block head %}
{% load static %}
<script src="{% static 'index_htmx.js' %}?refresh={% now 'U' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}?refresh={% now 'U' %}">
{% if manager_address == "" %}<script src="{% static 'initial_setup.js' %}?refresh={% now 'U' %}"></script>{% endif %}
{% endblock %}

{% block content %}
{% if manager_address == "" %}{% include 'modal-initial-setup.html' %}{% endif %}

<span class="hidden" id="temperature_unit">{{ temperature_unit }}</span>
<div class="flex flex-wrap justify-between items-center">
  <div class="flex justify-between items-center">
    <span class="font-medium text-2xl me-2">NSPanels</span>
  </div>
  <div>
    <button data-dropdown-toggle="actionsMenuDropdown"
      class="btn btn-primary btn-sm rounded-md">
      Actions
      <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
      </svg>
    </button>
    <!-- Dropdown menu -->
    <div id="actionsMenuDropdown"
      class="hidden z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 md:absolute inset-x-auto">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
        <li>
          <a onclick="htmx.trigger('body', 'reboot-all-nspanels');" class="block px-4 py-2 hover:bg-gray-600 hover:text-white"><span
              class="mdi mdi-restart pr-2 has-text-primary"></span>Reboot all panels</a>
        </li>
        <li>
          <a hx-post="{% url 'restart_mqtt_manager' %}" hx-swap="none" class="block px-4 py-2 hover:bg-gray-600 hover:text-white"><span
              class="mdi mdi-restart pr-2 has-text-primary"></span>Restart MQTTManager</a>
        </li>
        <li>
            <a onclick="htmx.trigger('body', 'firmware-update-all-nspanels');" class="block px-4 py-2 hover:bg-gray-600 hover:text-white"><span
              class="mdi mdi-upload pr-2 has-text-info"></span>Update firmware on all panels</a>
        </li>
        <li>
            <a onclick="htmx.trigger('body', 'screen-update-all-nspanels');" class="block px-4 py-2 hover:bg-gray-600 hover:text-white"><span
              class="mdi mdi-table-arrow-up pr-2 has-text-info"></span>Update screen on all panels</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
      {% if nspanels|length > 0 %}
          <div class="grid md:grid-cols-3 gap-4 mt-4 items-start" id="nspanels_container" hx-ext="ws" ws-connect="/websocket">
            {% for nspanel in nspanels %}
                {% include 'partial/nspanel_index_view_htmx.html' %}
            {% endfor %}
          </div>
      {% else %}
      <div class="grid md:grid-cols-3 gap-4 mt-4 items-start" id="nspanels_container" hx-ext="ws" ws-connect="/websocket">
          <div class="col-span-3 w-full text-center text-xl text-black dark:text-white mt-16">No NSPanel added to the manager. Getting started? <a href="{% url 'manual' %}#sec:nspanel_flashing" class="text-blue-500">Read the manual.</a></span>
      </div>
      {% endif %}
</div>
{% endblock %}
