{% extends 'base.html' %}

{% block content %}
<h2 class="title is-4">Panels</h2>
<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>NSPanel</th>
            <th>Room</th>
            <th>MAC Address</th>
            <th>Last seen</th>
        </tr>
    </thead>
    <tbody>
        {% for nspanel in nspanels %}
        <tr>
            <th>{{ nspanel.friendly_name }}</th>
            <td><a href="{% url 'edit_room' room_id=nspanel.room.id %}"><span class="tag is-link">
                        {{ nspanel.room.friendly_name }}</span></a>
            </td>
            <td>{{ nspanel.mac_address }}</td>
            <td>{{ nspanel.last_seen }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}