{% load static %}
<div id="modal-initial-setup" tabindex="-1" aria-hidden="true"
  class="modal overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center w-full p-4 mx-auto my-auto sm:w-3/4 md:w-2/4 inset-0 flex items-center">
  <!-- Backdrop -->
  <div class="w-full h-screen fixed bg-black/80 backdrop-blur-sm" onclick="close_modals();"></div>

  <div class="relative p-4 w-full max-w-2xl">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 flex flex-col">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 rounded-tw-full border-b dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Initial setup
        </h3>
        <button type="button" onclick="close_modals();"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <!-- Modal content -->
      <div class="transition-all duration-300">
        <!-- Steps -->
        <div class="shadow bg-white dark:bg-gray-700 p-2 border-b dark:border-gray-600">
          <ol class="flex items-center text-center justify-center w-full">
            <li id="initial_step_welcome" class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-500">
                <span id="initial_step_welcome_icon" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-500 shrink-0">
                  <svg class="w-4 h-4 text-gray-500 lg:w-5 lg:h-5 dark:text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                      <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z"/>
                  </svg>
                </span>
            </li>
            <li id="initial_step_manager_config" class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-500">
                <span id="initial_step_manager_config_icon" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-500 shrink-0">
                  <svg class="w-4 h-4 text-gray-500 lg:w-5 lg:h-5 dark:text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                      <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z"/>
                  </svg>
                </span>
            </li>
            <li id="initial_step_mqtt_config" class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-500">
                <span id="initial_step_mqtt_config_icon" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-500 shrink-0">
                  <svg class="w-4 h-4 text-gray-500 lg:w-5 lg:h-5 dark:text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                      <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z"/>
                  </svg>
                </span>
            </li>
            <li id="initial_step_home_assistant_config" class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-500">
                <span id="initial_step_home_assistant_config_icon" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-500 shrink-0">
                  <svg class="w-4 h-4 text-gray-500 lg:w-5 lg:h-5 dark:text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                      <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z"/>
                  </svg>
                </span>
            </li>
            <li id="initial_step_openhab_config" class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-500">
                <span id="initial_step_openhab_config_icon" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-500 shrink-0">
                  <svg class="w-4 h-4 text-gray-500 lg:w-5 lg:h-5 dark:text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                      <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z"/>
                  </svg>
                </span>
            </li>
            <li id="initial_step_finished" class="flex items-center">
              <span id="initial_step_finished_icon" class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-500 shrink-0">
                  <svg class="w-4 h-4 text-gray-500 lg:w-5 lg:h-5 dark:text-gray-100" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                      <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z"/>
                  </svg>
              </span>
            </li>
          </ol>
        </div>

        <!-- Welcome screen -->
        <div id="welcome_screen" class="w-full p-2">
          <div class="flex items-center justify-center">
            <img class="h-28 bg-slate-500 rounded-md p-1 dark:bg-transparent" src="{{ ingress_path }}{% static 'logo.svg' %}">
          </div>
          <div class="flex items-center justify-center">
            <span class="text-2xl">Welcome!</span>
          </div>
          <div class="flex items-center justify-center text-center mt-4 px-6">
            <span class="">This initial setup guide will take you through the necessary steps to get a working setup, press next to continue.</span>
          </div>
        </div>

        <!-- Manager address & port screen-->
        <div id="initial_setup_manager_config" class="w-full p-2 hidden">
          <!-- Manager address -->
          <div class="mb-2">
            <label for="manager_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">Manager address (required)</label>
            <div class="flex">
              <span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-gray-50 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title>Manager address (required)</title>
                  <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                </svg>
              </span>
              <input class="outline-none rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
              type="text" class="input" name="manager_address" id="manager_address" placeholder="192.168.1.5" value="{{ manager_address }}" required>
              <button type="button" onclick="$('#manager_address').val(location.hostname);" class="inline-flex items-center px-3 text-sm text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-e-0 rounded-e-md">
                Load from URL
              </button>
            </div>
            <div class="text-sm mt-1 dark:text-gray-200">
              This is the address that the NSPanels will use to reach the manager.
            </div>
          </div>

          <!-- Manager port -->
          <div class="mb-2">
            <label for="manager_port" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">Manager port (required)</label>
            <div class="flex">
              <span
                class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md ">
                <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" fill="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <title>Manager port (required)</title>
                  <path
                    d="M12,18V6A6,6 0 0,1 18,12A6,6 0 0,1 12,18M20,15.31L23.31,12L20,8.69V4H15.31L12,0.69L8.69,4H4V8.69L0.69,12L4,15.31V20H8.69L12,23.31L15.31,20H20V15.31Z" />
                </svg>
              </span>
              <input
                class="rounded-none bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
                type="number" name="manager_port" id="manager_port" placeholder="8000" value="{{ manager_port }}" required />
              <button type="button" onclick="$('#manager_port').val(location.port);" class="inline-flex items-center px-3 text-sm text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-e-0 rounded-e-md">
                Load from URL
              </button>
            </div>
            <div class="text-sm mt-1 dark:text-gray-200">
              This is the port that the NSPanels will use to reach the manager.
            </div>
          </div>
        </div>

        <!-- MQTT address and port -->
        <div id="mqtt_screen" class="w-full p-2 hidden">
          <!-- MQTT address -->
          <div class="mb-2">
            <label for="mqtt_server" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">MQTT address</label>
            <div class="flex">
              <span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-gray-50 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title>MQTT address</title>
                  <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                </svg>
              </span>
              <input class="outline-none rounded-none rounded-e-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
              type="text" class="input" name="mqtt_server" id="mqtt_server" placeholder="192.168.1.5" value="{{ mqtt_server }}" required>
            </div>
          </div>

          <!-- MQTT port -->
          <div class="mb-2">
            <label for="mqtt_port" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">MQTT port</label>
            <div class="flex">
              <span
                class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md ">
                <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" fill="currentColor" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <title>MQTT port</title>
                  <path
                    d="M12,18V6A6,6 0 0,1 18,12A6,6 0 0,1 12,18M20,15.31L23.31,12L20,8.69V4H15.31L12,0.69L8.69,4H4V8.69L0.69,12L4,15.31V20H8.69L12,23.31L15.31,20H20V15.31Z" />
                </svg>
              </span>
              <input
                class="rounded-none rounded-e-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
                type="number" name="mqtt_port" id="mqtt_port" placeholder="1883" value="{{ mqtt_port }}" required />
            </div>
          </div>

          <div class="flex flex-wrap md:flex-nowrap justify-between items-center">
            <!-- MQTT username -->
            <div class="mb-2 w-full md:me-1">
              <label for="mqtt_username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">MQTT username</label>
              <div class="flex">
                <span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-gray-50 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md">
                  <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <title>MQTT username</title>
                    <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                  </svg>
                </span>
                <input class="outline-none rounded-none rounded-e-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
                type="text" class="input" name="mqtt_username" id="mqtt_username" placeholder="Username (if required)" value="{{ mqtt_username }}">
              </div>
            </div>

            <!-- MQTT password -->
            <div class="mb-2 w-full md:ms-1">
              <label for="mqtt_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">MQTT password</label>
              <div class="flex">
                <span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-gray-50 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md">
                  <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <title>MQTT password</title>
                    <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                  </svg>
                </span>
                <input class="outline-none rounded-none rounded-e-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
                type="password" class="input" name="mqtt_password" id="mqtt_password" placeholder="Password (if required)" value="{{ mqtt_password }}">
              </div>
            </div>
          </div>
        </div>

        <!-- Home Assistant setup -->
        <div id="home_assistant_screen" class="w-full p-2 hidden">
          {% if is_home_assistant_addon %}
          <div class="p-4 mb-2 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-blue-700 dark:text-gray-50" role="alert">
            <span class="font-medium">Info.</span> You are running NSPanel Manager as a Home Assistant addon. These settings are managed by Home Assistant for you and are therefore locked.
          </div>
          {% endif %}


          <!-- Home Assistant address -->
          <div class="mb-2">
            <label for="home_assistant_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">Home Assistant address</label>
            <div class="flex">
              <span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-gray-50 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title>Home Assistant address</title>
                  <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                </svg>
              </span>
              <input class="outline-none rounded-none rounded-e-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
              type="text" class="input" name="home_assistant_address" id="home_assistant_address" placeholder="http://192.168.1.5:8123" value="{{ home_assistant_address }}" {% if is_home_assistant_addon %}disabled{% endif %}>
            </div>
          </div>

          <!-- Access Token -->
          <div class="mb-2">
            <label for="home_assistant_token" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">Access Token</label>
            <div class="flex">
              <span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-gray-50 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title>Access Token</title>
                  <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                </svg>
              </span>
              <input class="outline-none rounded-none rounded-e-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
              type="password" class="input" name="home_assistant_token" id="home_assistant_token" placeholder="ey..." value="{{ home_assistant_token }}" {% if is_home_assistant_addon %}disabled{% endif %}>
            </div>
          </div>
        </div>

        <!-- OpenHAB setup -->
        <div id="openhab_screen" class="w-full p-2 hidden">
          <!-- OpenHAB address -->
          <div class="mb-2">
            <label for="openhab_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">OpenHAB address</label>
            <div class="flex">
              <span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-gray-50 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title>OpenHAB address</title>
                  <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                </svg>
              </span>
              <input class="outline-none rounded-none rounded-e-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
              type="text" class="input" name="openhab_address" id="openhab_address" placeholder="http://192.168.1.5:8000" value="{{ openhab_address }}">
            </div>
          </div>

          <!-- Access Token -->
          <div class="mb-2">
            <label for="openhab_token" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-50">Access Token</label>
            <div class="flex">
              <span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-gray-50 bg-gray-200 border rounded-e-0 border-gray-300 rounded-s-md">
                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <title>Access Token</title>
                  <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                </svg>
              </span>
              <input class="outline-none rounded-none rounded-e-md bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
              type="password" class="input" name="openhab_token" id="openhab_token" placeholder="ey..." value="{{ openhab_token }}">
            </div>
          </div>
        </div>

        <!-- Finish/done screen-->
        <div id="finish_screen" class="w-full p-2 hidden">
          <div class="flex items-center justify-center">
            <img class="h-28 bg-slate-500 rounded-md p-1 dark:bg-transparent" src="{{ ingress_path }}{% static 'logo.svg' %}">
          </div>
          <div class="flex items-center justify-center">
            <span class="text-2xl">Finished.</span>
          </div>
          <div class="flex items-center justify-center text-center mt-4 px-6">
            <span class="">You have successfully entered the values needed to get the manager up and running. The next step is to flash a panel and connect it. Good luck!</span>
          </div>
        </div>

      </div>



      <!-- Modal footer -->
      <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button id="next_button" onclick="initial_setup_next();" title="Next"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
