{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-between" id="nspanel_settings_container">
  <div>
    <h2 class="font-medium text-2xl" id="nspanel_name">Relay groups</h2>
  </div>
  <div>
      <button type="button" class="btn btn-info" hx-get="{{ ingress_path }}{% url 'htmx_modal_create_new_relay_group' %}" hx-swap="none" hx-indicator="#modal_loading">Add new relay group</button>
      <a href="https://nspanelmanager.com/docs/web-interface#relay-groups" target="_blank" type="button" class="btn btn-info">Help</a>
  </div>
</div>
<div class="pm-2" id="warning_container">
</div>
<div class="md:flex md:justify-between md:items-start mt-2 mb-6 p-4 bg-base-100 rounded-md shadow-lg w-full">
    <table class="table table-sm">
      <thead class="">
        <tr>
          <th class="px-3 py-1">Name</th>
          <th class="px-3 py-1">Relay members</th>
          <th class="px-3 py-1">Actions</th>
        </tr>
      </thead>
      <tbody id="log_body" class="">
        {% for relay_group in relay_groups %}
          <tr class="hover">
            <th class="">
              {{ relay_group.friendly_name }}
            </th>
            <td class="max-w-36">
                <ul class="">
                    {% for member in relay_group.relaygroupbinding_set.all %}
                    <li class="join my-1 mx-1 w-full">
                        <span class="join-item badge badge-neutral">{{ member.nspanel.friendly_name }}</span>
                        <span class="join-item badge badge-info">Relay {{ member.relay_num }}</span>
                        <span class="join-item badge badge-error cursor-pointer" title="Delete" hx-delete="{{ ingress_path }}{% url 'htmx_remove_relay_from_relay_group' member.id %}" hx-indicator="#modal_indicator" hx-confirm="Delete relay binding?">✕</span>
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <div class="join">
                    <button class="join-item btn btn-neutral btn-sm" type="button" hx-get="{{ ingress_path }}{% url 'htmx_modal_add_relay_to_relay_group' relay_group.id %}" hx-swap="none" hx-indicator="#modal_loading">Add relay</button>
                    <button class="join-item btn btn-neutral btn-sm" type="button" hx-get="{{ ingress_path }}{% url 'htmx_modal_edit_relay_group' relay_group.id %}" hx-swap="none" hx-indicator="#modal_loading">Edit</button>
                    <button class="join-item btn btn-sm btn-error" type="button" hx-delete="{{ ingress_path }}{% url 'htmx_delete_relay_group' relay_group.id %}" hx-swap="none" hx-indicator="#modal_loading" hx-confirm="Delete relay group {{ relay_group.friendly_name }}?">Delete</button>
                </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
