{% extends 'base.html' %}

{% block content %}
<h2 class="title is-4">Rooms</h2>
<h2 class="title subtitle">Change display order of rooms</h2>
<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>Friendly name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
        <tr data-roomId="{{ room.id }}">
            <th>{{ room.friendly_name }}</th>
            <td>
                <button type="button" class="button is-light" onclick="window.location = '/moveRoomUp/{{ room.id }}'">
                    ↑</button>
                <button type="button" class="button is-light" onclick="window.location = '/moveRoomDown/{{ room.id }}'">
                    ↓</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}