{% extends 'base.html' %}

{% block head %}
{% load static %}
  <script src="{{ ingress_path }}{% static 'question.js' %}?refresh={% now 'U' %}"></script>
  <script src="{{ ingress_path }}{% static 'settings.js' %}?refresh={% now 'U' %}"></script>
{% endblock head %}

{% block content %}

<!-- Create a connection to the websocket as to be able to show active warnings. -->
<div class="hidden" hx-ext="ws" ws-connect="/websocket">
</div>

<form method="POST" action="{% url 'save_settings' %}" id="config">
    {% csrf_token %}
    <div class="flex items-center justify-between mb-2">
      <h2 class="font-medium text-2xl">Settings</h2>
      <a href="https://nspanelmanager.com/docs/web-interface/#global-settings" target="_blank" class="btn btn-outline btn-info">Help</a>
    </div>
    {% component "alert" level="info" text="Changes to NSPanel settings on this page requires a reboot of all NSPanels to take effect." %}{% endcomponent %}
    <div class="mt-2">
      <div class="p-4 bg-base-100 rounded-box shadow-lg w-full">
        <span class="block mb-2 text-xl">NSPanel Manager settings</span>

        {% component "alert" level="warning" text="Manager address needs to be the IP address and only the IP address. Not hostname of the manager and not with http://." %}{% endcomponent %}

        <!-- Manager address -->
        <div class="mb-2">
            <label for="manager_address" class="block mb-1 text-sm font-medium">Manager address</label>
            <div class="flex flex-row-reverse">
                <button type="button" class="button bg-info text-info-content p-2 border border-l-0 rounded-e-field border-neutral text-sm" onclick="$('#manager_address').val(location.hostname);">Load from URL</button>
                <input class="outline-none rounded-none bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="text" class="input" id="manager_address" name="manager_address" value="{{ manager_address }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                    <span class="mdi mdi-home"></span>
                </span>
            </div>
        </div>

        <!-- Manager port -->
        <div class="mb-2">
            <label for="manager_port" class="block mb-1 text-sm font-medium">Manager port</label>
            <div class="flex flex-row-reverse">
                <button type="button" class="button bg-info text-info-content p-2 border border-l-0 rounded-e-field border-neutral text-sm" onclick="$('#manager_port').val(location.port);">Load from URL</button>
                <input class="outline-none rounded-none bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="text" class="input" id="manager_port" name="manager_port" value="{{ manager_port }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                    <span class="mdi mdi-numeric"></span>
                </span>
            </div>
        </div>

        <!-- New section-->
      </div>
    </div>
    <div class="md:flex md:justify-between md:items-start mt-2">
      <div class="p-4 bg-base-100 w-full rounded-box shadow-lg">

        <div class="flex items-center justify-between">
          <span class="block mb-2 text-xl">Logging options</span>
          <a href="{% url 'download_mqttmanager_log' %}" title="Download MQTTManager log" class="btn btn-outline btn-info">
            <span class="mdi mdi-download"></span>
            Download
          </a>
        </div>

        <!-- MQTTManager log level -->
        <div class="mb-2">
          <label for="mqttmanager_log_level" class="block mb-1 text-sm font-medium">MQTTManager log level</label>
          <div class="flex flex-row-reverse">
            <select name="mqttmanager_log_level" id="mqttmanager_log_level" class="rounded-none bg-base-300 border-neutral rounded-e-field border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/room_id" required>
                <option value="error" {% if mqttmanager_log_level == "error" %}selected{% endif %}>Error</option>
                <option value="warning" {% if mqttmanager_log_level == "warning" %}selected{% endif %}>Warning</option>
                <option value="info" {% if mqttmanager_log_level == "info" %}selected{% endif %}>Info</option>
                <option value="debug" {% if mqttmanager_log_level == "debug" %}selected{% endif %}>Debug</option>
                <option value="trace" {% if mqttmanager_log_level == "trace" %}selected{% endif %}>Trace</option>
            </select>
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/room_id:border-accent">
              <span class="mdi mdi-message-alert"></span>
            </span>
          </div>
        </div>

        <!-- Number of messages to display on live log -->
        <div class="mb-2">
            <label for="max_live_log_messages" class="block mb-1 text-sm font-medium">Number of message to display on live log</label>
            <div class="flex flex-row-reverse">
                <input class="outline-none rounded-none bg-base-300 border-neutral border border-l-0 rounded-e-field focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="number" class="input" name="max_live_log_messages" value="{{ max_live_log_messages }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                    <span class="mdi mdi-message-alert"></span>
                </span>
            </div>
        </div>

        <!-- Number of messages in buffer -->
        <div class="mb-2">
            <label for="max_log_buffer_size" class="block mb-1 text-sm font-medium">Number of message in buffer</label>
            <div class="flex flex-row-reverse">
                <input class="outline-none rounded-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="number" class="input" name="max_log_buffer_size" value="{{ max_log_buffer_size }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                    <span class="mdi mdi-message-alert"></span>
                </span>
            </div>
        </div>

        <!-- New section-->
      </div>
    </div>
    <div class="md:flex md:justify-between md:items-start mt-2">
      <div class="p-4 bg-base-100 rounded-box shadow-lg w-full">
        <span class="block mb-2 text-xl">Global NSPanel settings</span>

        <div class="flex flex-wrap md:flex-nowrap items-center justify-between">
          <!-- Minimum color temperature-->
          <div class="mb-2 w-full md:me-1">
            <label for="color_temp_min" class="block mb-1 text-sm font-medium">Minimum color temperature</label>
            <div class="flex flex-row-reverse">
                <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="text" class="input" name="color_temp_min" value="{{ color_temp_min }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                    <span class="mdi mdi-sun-thermometer-outline"></span>
                </span>
            </div>
          </div>

          <!-- Maximum color temperature -->
          <div class="mb-2 w-full md:ms-1">
              <label for="color_temp_max" class="block mb-1 text-sm font-medium">Maximum color temperature</label>
              <div class="flex flex-row-reverse">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="color_temp_max" value="{{ color_temp_max }}" required>
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-sun-thermometer-outline"></span>
                  </span>
              </div>
          </div>
        </div>

        <!-- Reverse color temperature slider-->
        <div class="flex-auto mb-2">
          <h3 class="block mb-2 text-sm font-medium">Reverse color temperature slider</h3>
          <ul
            class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
            <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="keep_color_temp_slider" type="radio" name="reverse_color_temp" value="False" {% if reverse_color_temp != "True" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="keep_color_temp_slider"
                  class="w-full py-3 ms-2 text-sm font-medium">Keep default</label>
              </div>
            </li>
            <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="reverse_color_temp_slider" type="radio" name="reverse_color_temp" value="True" {% if reverse_color_temp == "True" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="reverse_color_temp_slider" class="w-full py-3 ms-2 text-sm font-medium">Reverse</label>
              </div>
            </li>
          </ul>
        </div>

        <!-- Turn on behavior-->
        <div class="flex-auto mb-2">
          <h3 class="block mb-2 text-sm font-medium">Turn on behavior</h3>
          <ul
            class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
            <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="turn_on_color_temp" type="radio" name="turn_on_behavior" value="color_temp" {% if turn_on_behavior == "color_temp" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="turn_on_color_temp"
                  class="w-full py-3 ms-2 text-sm font-medium">Color temperature</label>
              </div>
            </li>
            <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="turn_on_restore" type="radio" name="turn_on_behavior" value="restore" {% if turn_on_behavior == "restore" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="turn_on_restore" class="w-full py-3 ms-2 text-sm font-medium">Restore</label>
              </div>
            </li>
          </ul>
        </div>

        <!-- Raise lights to 100% light level above slider threshold -->
        <div class="mb-2">
            <label for="raise_to_100_light_level" class="block mb-1 text-sm font-medium">Raise lights to 100% threshold</label>
            <div class="flex flex-row-reverse">
                <input class="outline-none rounded-none bg-base-300 border-neutral border border-l-0 rounded-e-field focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="number" class="input" name="raise_to_100_light_level" value="{{ raise_to_100_light_level }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                <span class="mdi mdi-brightness-percent"></span>
                </span>
            </div>
        </div>

        <!-- Button threshold times -->
        <div class="flex flex-wrap md:flex-nowrap items-center justify-between">
            <!-- Minimum button push time -->
            <div class="mb-2 w-full md:me-1">
              <label for="min_button_push_time" class="block mb-1 text-sm font-medium">Minimum button push time (ms)</label>
              <div class="flex flex-row-reverse">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="min_button_push_time" value="{{ min_button_push_time }}" required>
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-clock-outline"></span>
                  </span>
              </div>
            </div>

            <!-- Minimum long press time -->
            <div class="mb-2 w-full md:me-1">
              <label for="button_long_press_time" class="block mb-1 text-sm font-medium">Minimum long press time (ms)</label>
              <div class="flex flex-row-reverse">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="button_long_press_time" value="{{ button_long_press_time }}" required>
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-clock-outline"></span>
                  </span>
              </div>
            </div>
        </div>


        <!-- Special mode trigger and timeout times -->
        <div class="flex flex-wrap md:flex-nowrap items-center justify-between">
            <!-- Minimum button push time -->
            <div class="mb-2 w-full md:me-1">
              <label for="special_mode_trigger_time" class="block mb-1 text-sm font-medium">Special mode activation time (ms)</label>
              <div class="flex flex-row-reverse">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="special_mode_trigger_time" value="{{ special_mode_trigger_time }}" required>
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-clock-outline"></span>
                  </span>
              </div>
            </div>

            <!-- Minimum long press time -->
            <div class="mb-2 w-full md:me-1">
              <label for="special_mode_release_time" class="block mb-1 text-sm font-medium">Special mode timeout (ms)</label>
              <div class="flex flex-row-reverse">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="special_mode_release_time" value="{{ special_mode_release_time }}" required>
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-clock-outline"></span>
                  </span>
              </div>
            </div>
        </div>


        <div class="flex flex-wrap md:flex-nowrap items-center justify-between">
            <!-- Screen brightness -->
            <div class="mb-2 w-full md:me-1">
              <label for="screen_dim_level" class="block mb-1 text-sm font-medium">Screen brightness</label>
              <div class="flex flex-row-reverse">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="screen_dim_level" value="{{ screen_dim_level }}" required min="1" max="100">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-brightness-percent"></span>
                  </span>
              </div>
            </div>

            <!-- Screensaver brightness -->
            <div class="mb-2 w-full md:me-1">
              <label for="screensaver_dim_level" class="block mb-1 text-sm font-medium">Screensaver brightness</label>
              <div class="flex flex-row-reverse">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" name="screensaver_dim_level" value="{{ screensaver_dim_level }}" required min="0" max="100">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-brightness-percent"></span>
                  </span>
              </div>
            </div>
        </div>

        <!-- Screensaver activation timeout-->
        <div class="mb-2">
            <label for="raise_to_100_light_level" class="block mb-1 text-sm font-medium">Screensaver activation timeout (ms)</label>
            <div class="flex flex-row-reverse">
                <input class="outline-none rounded-none bg-base-300 border-neutral border border-l-0 rounded-e-field focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="number" class="input" name="screensaver_activation_timeout" value="{{ screensaver_activation_timeout }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                <span class="mdi mdi-clock-outline"></span>
                </span>
            </div>
        </div>

        <!-- Screensaver mode -->
        <div class="mb-2">
          <label for="screensaver_mode" class="block mb-1 text-sm font-medium">Screensaver mode</label>
          <div class="flex flex-row-reverse">
            <select name="screensaver_mode" id="screensaver_mode" class="rounded-none bg-base-300 border-neutral rounded-e-field border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/room_id" required>
                <option value="with_background" {% if screensaver_mode == "with_background" %}selected{% endif %}>Show with background (clock, date and weather)</option>
                <option value="without_background" {% if screensaver_mode == "without_background" %}selected{% endif %}>Show without background (clock, date and weather)</option>
                <option value="datetime_with_background" {% if screensaver_mode == "datetime_with_background" %}selected{% endif %}>Show with background (no weather)</option>
                <option value="datetime_without_background" {% if screensaver_mode == "datetime_without_background" %}selected{% endif %}>Show without background (no weather)</option>
                <option value="no_screensaver" {% if screensaver_mode == "no_screensaver" %}selected{% endif %}>No screensaver (turn off screen)</option>
            </select>
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/room_id:border-accent">
              <span class="mdi mdi-home"></span>
            </span>
          </div>
        </div>

        <!-- Screensaver inside temperature settings -->
        <div class="flex-auto mb-2">
            <h3 class="block mb-2 text-sm font-medium">Screensaver inside temperature</h3>
            <ul class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                    <input id="show_screensaver_inside_temperature" type="radio" name="show_screensaver_inside_temperature" value="True" {% if show_screensaver_inside_temperature == "True" %}checked{% endif %}
                        class="w-4 h-4 radio radio-accent">
                    <label for="show_screensaver_inside_temperature" class="w-full py-3 ms-2 text-sm font-medium">Show inside temperature</label>
                    </div>
                </li>

                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                    <input id="hide_screensaver_inside_temperature" type="radio" name="show_screensaver_inside_temperature" value="False" {% if show_screensaver_inside_temperature == "False" %}checked{% endif %}
                        class="w-4 h-4 radio radio-accent">
                    <label for="hide_screensaver_inside_temperature"
                        class="w-full py-3 ms-2 text-sm font-medium">Hide inside temperature</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Screensaver outside temperature settings -->
        <div class="flex-auto mb-2" id="screensaver_outside_temperature_setting">
            <h3 class="block mb-2 text-sm font-medium">Screensaver outside temperature</h3>
            <ul class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                    <input id="show_screensaver_outside_temperature" type="radio" name="show_screensaver_outside_temperature" value="True" {% if show_screensaver_outside_temperature == "True" %}checked{% endif %}
                        class="w-4 h-4 radio radio-accent">
                    <label for="show_screensaver_outside_temperature" class="w-full py-3 ms-2 text-sm font-medium">Show outside temperature</label>
                    </div>
                </li>

                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                    <div class="flex items-center ps-3">
                    <input id="hide_screensaver_outside_temperature" type="radio" name="show_screensaver_outside_temperature" value="False" {% if show_screensaver_outside_temperature == "False" %}checked{% endif %}
                        class="w-4 h-4 radio radio-accent">
                    <label for="hide_screensaver_outside_temperature"
                        class="w-full py-3 ms-2 text-sm font-medium">Hide outside temperature</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Entity update mode -->
        <div class="flex-auto mb-2">
          <h3 class="block mb-2 text-sm font-medium">Entity update mode</h3>
          <ul
            class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
                <!-- Optimistic mode -->
                <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="entity_update_mode_optimistic" type="radio" name="optimistic_mode" value="optimistic" {% if optimistic_mode == "True" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="entity_update_mode_optimistic" class="w-full py-3 ms-2 text-sm font-medium">Optimistic</label>
              </div>
            </li>

            <!-- Wait mode -->
            <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
              <div class="flex items-center ps-3">
                <input id="entity_update_mode_wait" type="radio" name="optimistic_mode" value="wait" {% if optimistic_mode == "False" %}checked{% endif %}
                  class="w-4 h-4 radio radio-accent">
                <label for="entity_update_mode_wait"
                  class="w-full py-3 ms-2 text-sm font-medium">Wait</label>
              </div>
            </li>
          </ul>
        </div>


        <!-- All room status backoff time -->
        <div class="mb-2">
            <label for="all_rooms_status_backoff_time" class="block mb-1 text-sm font-medium">"All rooms" status backoff time (ms)</label>
            <div class="flex flex-row-reverse">
                <input class="outline-none rounded-none bg-base-300 border-neutral border border-l-0 rounded-e-field focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="number" class="input" name="all_rooms_status_backoff_time" value="{{ all_rooms_status_backoff_time }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                <span class="mdi mdi-clock-outline"></span>
                </span>
            </div>
        </div>

        <!-- Default light turn on percentage -->
        <div class="mb-2">
            <label for="light_turn_on_brightness" class="block mb-1 text-sm font-medium">Default light turn on brightness (%)</label>
            <div class="flex flex-row-reverse">
                <input class="outline-none rounded-none bg-base-300 border-neutral border border-l-0 rounded-e-field focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="number" class="input" name="light_turn_on_brightness" min="1" max="100" value="{{ light_turn_on_brightness }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                <span class="mdi mdi-brightness-percent"></span>
                </span>
            </div>
        </div>

        <!-- New section-->
      </div>
    </div>
    <div class="md:flex md:justify-between md:items-start mt-2">
      <div class="p-4 rounded-box shadow-lg w-full bg-base-100">
        <span class="block mb-2 text-xl">MQTT</span>

        <!-- MQTT address -->
        <div class="mb-2">
            <label for="mqtt_server" class="block mb-1 text-sm font-medium">MQTT server</label>
            <div class="flex flex-row-reverse">
                <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="text" class="input" id="mqtt_server" name="mqtt_server" value="{{ mqtt_server }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                    <span class="mdi mdi-home"></span>
                </span>
            </div>
        </div>

        <!-- MQTT port -->
        <div class="mb-2">
            <label for="mqtt_port" class="block mb-1 text-sm font-medium">MQTT port</label>
            <div class="flex flex-row-reverse">
                <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="number" class="input" id="mqtt_port" name="mqtt_port" value="{{ mqtt_port }}" required>
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                    <span class="mdi mdi-numeric"></span>
                </span>
            </div>
        </div>

        <div class="flex flex-wrap md:flex-nowrap justify-between items-center">
          <!-- MQTT username -->
          <div class="mb-2 w-full me-1">
              <label for="mqtt_username" class="block mb-1 text-sm font-medium">MQTT username</label>
              <div class="flex flex-row-reverse w-full">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" id="mqtt_username" name="mqtt_username" value="{{ mqtt_username }}">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-account"></span>
                  </span>
              </div>
          </div>

          <!-- MQTT password -->
          <div class="mb-2 w-full">
              <label for="mqtt_password" class="block mb-1 text-sm font-medium">MQTT password</label>
              <div class="flex flex-row-reverse w-full">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="password" class="input" id="mqtt_password" name="mqtt_password" value="{{ mqtt_password }}">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-account-key"></span>
                  </span>
              </div>
          </div>
        </div>


        <!-- New section-->
        </div>
      </div>
      <div class="md:flex md:justify-between md:items-start mt-2">
        <div class="p-4 rounded-box shadow-lg w-full bg-base-100">
          <span class="block mb-2 text-xl">Home Assistant API</span>

          {% if is_home_assistant_addon %}
          {% component "alert" level="info" text="You are running NSPanel Manager as a Home Assistant addon. These settings are managed by Home Assistant for you and are therefore locked." %}{% endcomponent %}
          {% endif %}


          <!-- Home Assistant address -->
          <div class="mb-2 w-full">
              <label for="home_assistant_address" class="block mb-1 text-sm font-medium">Home Assistant address</label>
              <div class="flex flex-row-reverse w-full">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" id="home_assistant_address" name="home_assistant_address" value="{{ home_assistant_address }}" {% if is_home_assistant_addon %}disabled{% endif %}>
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent" {% if is_home_assistant_addon %}disabled{% endif %}>
                      <span class="mdi mdi-web"></span>
                  </span>
              </div>
          </div>

          <!-- Access Token -->
          <div class="mb-2 w-full">
              <label for="home_assistant_token" class="block mb-1 text-sm font-medium">Home Assistant token</label>
              <div class="flex flex-row-reverse w-full">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="password" class="input" id="home_assistant_token" name="home_assistant_token" value="{{ home_assistant_token }}" {% if is_home_assistant_addon %}disabled{% endif %}>
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent" {% if is_home_assistant_addon %}disabled{% endif %}>
                      <span class="mdi mdi-web"></span>
                  </span>
              </div>
          </div>

          <!-- New section-->
        </div>
      </div>
      <div class="md:flex md:justify-between md:items-start mt-2">
        <div class="p-4 rounded-box shadow-lg w-full bg-base-100">
          <span class="block mb-2 text-xl">OpenHAB API</span>

          <!-- OpenHAB address -->
          <div class="mb-2 w-full">
              <label for="openhab_address" class="block mb-1 text-sm font-medium">OpenHAB address</label>
              <div class="flex flex-row-reverse w-full">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="text" class="input" id="openhab_address" name="openhab_address" value="{{ openhab_address }}">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-web"></span>
                  </span>
              </div>
          </div>

          <!-- Access Token -->
          <div class="mb-2 w-full">
              <label for="openhab_token" class="block mb-1 text-sm font-medium">OpenHAB token</label>
              <div class="flex flex-row-reverse w-full">
                  <input class="outline-none rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                  type="password" class="input" id="openhab_token" name="openhab_token" value="{{ openhab_token }}">
                  <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                      <span class="mdi mdi-web"></span>
                  </span>
              </div>
          </div>
      </div>
    </div>

    <div class="text-right mt-4 mb-4">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}
