{% extends 'base.html' %}

{% block head %}
{% load static %}
  <script src="{{ ingress_path }}{% static 'question.js' %}?refresh={% now 'U' %}"></script>
  <script src="{{ ingress_path }}{% static 'modal-select-entity.js' %}?refresh={% now 'U' %}"></script>

  <script>

  // This function is used from select_weather_outside_temperature_sensor.html to do the final selection of
  // sensor and update the fields on this page.
  function select_outside_temperature_sensor(sensor) {
    var item = $(sensor);
    var entity_source = item.data('entity-source');
    var entity_id = item.data('entity-id');

    $("#outside_temp_provider").val(entity_source);
    $("#outside_temp_sensor").val(entity_id);
    modal.close();
  }
  </script>
{% endblock %}

{% block content %}
{% include 'modal-select-entity.html' %}



<div id="modal-select-location" tabindex="-1" aria-hidden="true"
  class="invisible modal overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center w-full p-4 mx-auto my-auto sm:w-3/4 md:w-2/4 inset-0 flex items-center">
  <!-- Backdrop -->
  <div class="w-full h-screen fixed bg-black/80 backdrop-blur-sm" onclick="close_modals();"></div>

  <div class="relative p-4 w-full max-w-2xl">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 flex flex-col">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 w-full">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Select location
        </h3>
        <button type="button" onclick="close_modals();"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <!-- Modal content -->
      <div class="">
        <!-- Search -->
        <div class="">
          <div class="flex">
            <span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-gray-50 bg-gray-200 border rounded-e-0 border-gray-300">
              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>Search</title>
                <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path>
              </svg>
            </span>
            <input class="bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
            type="text" class="input" name="search_location" id="search_location" placeholder="Search">
          </div>
        </div>
      </div>

      <template id="location_template">
        <button type="button" onclick="choose_location(this);" class="relative w-full px-4 py-2 text-sm font-medium border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
          <div class="w-full items-center justify-start flex">
            <div class="me-2">
              <img class="location_flag w-5 h-5" aria-hidden="true" src="https://open-meteo.com/images/country-flags/se.svg">
            </div>
            <p class="location_text text-lg">Stockholm, Sweden</p>
          </div>
          <div class="location_cords w-full flex items-center justify-start text-xs font-thin pt-1">
            <span class="latitude"></span>E, <span class="longitude"></span>N
          </div>
        </button>
      </template>
      <!-- List of locations -->
      <div class="max-h-96 overflow-y-scroll p-4">
        <div id="locations_list" class="w-full text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"></div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button data-modal-hide="static-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        onclick="close_modals();">Close</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" action="{% url 'weather_and_time' %}">
  {% csrf_token %}
  <div class="flex items-center justify-between" id="nspanel_settings_container" hx-ext="ws" ws-connect="/websocket">
    <div>
      <h2 class="font-medium text-2xl" id="nspanel_name">Weather & Time</h2>
    </div>
    <a href="https://nspanelmanager.com/docs/web-interface#weather-and-time" target="_blank" class="btn btn-outline btn-info">
        Help
      </a>
  </div>

  <div class="mt-2">
    <div class="p-4 bg-base-100 rounded-box shadow-lg w-full">
      <!-- General settings -->
      <span class="block mb-2 text-xl">Date & Time</span>

      <!-- Date format -->
      <div class="my-2">
          <label for="date_format" class="block mb-1 text-sm font-medium">Date format</label>
          <div class="flex flex-row-reverse">
              <input class="rounded-e-btn bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
              type="text" class="input" id="date_format" name="date_format" value="{{ date_format }}" required>
              <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-btn peer-focus/name:border-accent">
                  <span class="mdi mdi-form-textbox"></span>
              </span>
          </div>
      </div>
      {% component "alert" level="info" text='The format of the date on the NSPanel. This is set using the strftime function. See <a href="https://cplusplus.com/reference/ctime/strftime/" target="_blank" class="border-dotted border-b-2 border-black">available</a> formatting for all options.' %}{% endcomponent %}

      <!-- Clock format -->
      <div class="flex-auto my-2">
        <h3 class="block mb-2 text-sm font-medium">Clock format</h3>
        <ul
          class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="clock_rest_of_world_style" type="radio" name="clock_us_style" value="False" {% if clock_us_style != "True" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="keep_color_temp_slider"
                class="w-full py-3 ms-2 text-sm font-medium">24 hour clock</label>
            </div>
          </li>
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="clock_us_style" type="radio" name="clock_us_style" value="True" {% if clock_us_style == "True" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="reverse_color_temp_slider" class="w-full py-3 ms-2 text-sm font-medium">12 hour clock (AM/PM)</label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="mt-2 p-4 bg-base-100 rounded-box shadow-lg w-full">
      <!-- Weather and temp -->
      <span class="block mb-2 text-xl">Weather & Temperature</span>

      <!-- Select location format -->
      <div class="flex flex-wrap md:flex-nowrap items-center justify-between">
        <!-- Latitude -->
        <div class="my-2 w-full md:me-1">
          <label for="location_latitude" class="block mb-1 text-sm font-medium">Latitude</label>
          <div class="flex flex-row-reverse">
              <button type="button" class="btn btn-info rounded-l-none" hx-get="{% url 'htmx_partial_select_weather_location' %}" hx-indicator="#modal_loading" hx-swap="none">Search</button>
              <input id="location_latitude" class="bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
              type="text" class="input" name="location_latitude" value="{{ location_latitude }}">
              <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-btn peer-focus/name:border-accent">
                  <span class="mdi mdi-earth"></span>
              </span>
          </div>
        </div>

        <!-- Longitude -->
        <div class="my-2 w-full md:ms-1">
            <label for="location_longitude" class="block mb-1 text-sm font-medium">Longitude</label>
            <div class="flex flex-row-reverse">
                <button type="button" class="btn btn-info rounded-l-none" hx-get='{% url "htmx_partial_select_weather_location" %}' hx-indicator="#modal_loading" hx-swap="none">Search</button>
                <input id="location_longitude" class="bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                type="text" class="input" name="location_longitude" value="{{ location_longitude }}">
                <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-btn peer-focus/name:border-accent">
                    <span class="mdi mdi-earth"></span>
                </span>
            </div>
        </div>
      </div>

      <!-- Outside temperature sensor -->
      <input type="hidden" name="outside_temp_provider" id="outside_temp_provider" readonly value="{{ outside_temp_provider }}">
      <div class="my-2 w-full md:ms-1">
          <label for="outside_temp_sensor" class="block mb-1 text-sm font-medium">Outside temperature sensor</label>
          <div class="flex flex-row-reverse">
              <button type="button" class="btn btn-info rounded-l-none" hx-get="{% url 'htmx_partial_select_weather_outside_temperature_sensor_provider' %}" hx-swap="none">Select</button>
              <input class="bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
              type="text" class="input" id="outside_temp_sensor" name="outside_temp_sensor" value="{{ outside_temp_sensor }}">
              <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-btn peer-focus/name:border-accent">
                  <span class="mdi mdi-thermometer"></span>
              </span>
          </div>
      </div>
      {% component "alert" level="info" text="The outside temperature is not a requirement for using the weather functionality but it can be used to provide a more accurate value on the screensaver." %}{% endcomponent %}

      <!-- Update interval -->
      <div class="my-2">
          <label for="weather_update_interval" class="block mb-1 text-sm font-medium">Update interval (minutes)</label>
          <div class="flex flex-row-reverse">
              <input class="rounded-e-btn bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
              type="number" min="1" max="60" class="input" id="weather_update_interval" name="weather_update_interval" value="{{ weather_update_interval }}" required>
              <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-btn peer-focus/name:border-accent">
                  <span class="mdi mdi-form-textbox"></span>
              </span>
          </div>
      </div>

      <!-- Temperature format-->
      <div class="flex-auto my-2">
        <h3 class="block mb-2 text-sm font-medium">Temperature format</h3>
        <ul
          class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="temp_celsius" type="radio" name="use_fahrenheit" value="False" {% if use_fahrenheit != "True" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="temp_celsius"
                class="w-full py-3 ms-2 text-sm font-medium">Celsius</label>
            </div>
          </li>
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="temp_fahrenheit" type="radio" name="use_fahrenheit" value="True" {% if use_fahrenheit == "True" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="temp_fahrenheit" class="w-full py-3 ms-2 text-sm font-medium">Fahrenheit</label>
            </div>
          </li>
        </ul>
      </div>

      <!-- Wind format-->
      <div class="flex-auto my-2">
        <h3 class="block mb-2 text-sm font-medium">Wind speed format</h3>
        <ul
          class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="kmh" type="radio" name="wind_speed_format" value="kmh" {% if wind_speed_format == "kmh" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="kmh"
                class="w-full py-3 ms-2 text-sm font-medium">Km/h</label>
            </div>
          </li>
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="meter_per_second" type="radio" name="wind_speed_format" value="ms" {% if wind_speed_format == "ms" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="meter_per_second" class="w-full py-3 ms-2 text-sm font-medium">Meter/s</label>
            </div>
          </li>
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="miles_per_hour" type="radio" name="wind_speed_format" value="mph" {% if wind_speed_format == "mph" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="meter_per_second" class="w-full py-3 ms-2 text-sm font-medium">Mph</label>
            </div>
          </li>
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="knots" type="radio" name="wind_speed_format" value="knots" {% if wind_speed_format == "knots" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="knots" class="w-full py-3 ms-2 text-sm font-medium">Mph</label>
            </div>
          </li>
        </ul>
      </div>

      <!-- Precipitation unit -->
      <div class="flex-auto my-2">
        <h3 class="block mb-2 text-sm font-medium">Precipitation unit</h3>
        <ul
          class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex">
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="millimeters" type="radio" name="precipitation_format" value="mm" {% if precipitation_format == "mm" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="millimeters"
                class="w-full py-3 ms-2 text-sm font-medium">Millimeters</label>
            </div>
          </li>
          <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
            <div class="flex items-center ps-3">
              <input id="inch" type="radio" name="precipitation_format" value="inch" {% if precipitation_format == "inch" %}checked{% endif %}
                class="w-4 h-4 radio radio-accent">
              <label for="inch" class="w-full py-3 ms-2 text-sm font-medium">Fahrenheit</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-right">
    <button type="submit" class="btn btn-info my-2">Save</button>
  </div>
</form>
{% endblock %}
