{% load static %}
{% static "" as static_prefix %}
<dialog id="modal" class="modal my-6" hx-swap-oob="true">
    <div class="modal-box w-2xl max-w-none">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <div class="flex flex-wrap justify-center items-start mb-2">
            {% for i in "1234" %}
            <form hx-post="{% url 'htmx_select_nspanel_background' nspanel.id %}">
                <input type="hidden" name="selected_background" value="tft{{ i }}">
                <div id="eu-panel-example" class="relative mx-auto border-base-300 bg-base-300 border-[0.5rem] rounded-[0.5rem] h-[300px] w-[300px] mt-4 {% if settings.is_us_panel != 'False' %}hidden{% endif %}">
                    <div class="rounded-[0.2rem] w-full h-[77%] bg-black flex justify-center items-center">
                        <img src="{{ static_prefix }}HMI_files/eu/output_tft{{ i }}/example.png" alt="Display example" class="p-[22.2px] object-fill">
                    </div> <!-- screen -->
                    <button class="absolute top-0 left-0 rounded-[0.2rem] w-full h-[77%] opacity-0 flex justify-center items-center hover:backdrop-blur-sm transition-all duration-[20ms] hover:opacity-100 cursor-pointer" title="Select background">
                        <span class="text-2xl text-success mdi mdi-check-circle"></span>
                    </button> <!-- Select background overlay -->
                    <div class="rounded-[0.2rem] w-[49%] h-[21.5%] bg-base-200 absolute bottom-0"></div> <!-- Left button -->
                    <div class="rounded-[0.2rem] w-[49%] h-[21.5%] bg-base-200 absolute bottom-0 right-0"></div> <!-- Right button -->
                </div>
            </form>

            <!-- 69 x 115mm without frame -->
            <form hx-post="{% url 'htmx_select_nspanel_background' nspanel.id %}">
                <input type="hidden" name="selected_background" value="tft{{ i }}">
                <div id="us-panel-vertical-example" class="relative mx-auto border-base-300 bg-base-300 border-[0.5rem] rounded-[0.5rem] h-[500px] w-[300px] mt-4 {% if settings.is_us_panel != 'True' or settings.us_panel_orientation != 'vertical' %}hidden{% endif %}">
                    <div class="rounded-[0.2rem] w-full h-[81.5%] bg-black flex justify-center items-center">
                        <img src="{{ static_prefix }}HMI_files/us/output_tft{{ i }}/example.png" alt="Display example" class="p-[22.2px] object-fill">
                    </div> <!-- screen -->
                    <button class="absolute top-0 left-0 rounded-[0.2rem] w-full h-[81.5%] opacity-0 flex justify-center items-center hover:backdrop-blur-sm transition-all duration-[20ms] hover:opacity-100 cursor-pointer" title="Select background">
                        <span class="mdi mdi-check-circle"></span>
                    </button> <!-- Select background overlay -->
                    <div class="rounded-[0.2rem] w-[49%] h-[15.6%] bg-base-200 absolute bottom-0"></div> <!-- Left button -->
                    <div class="rounded-[0.2rem] w-[49%] h-[15.6%] bg-base-200 absolute bottom-0 right-0"></div> <!-- Right button -->
                </div>
            </form>

            <!-- 115 x 69mm without frame -->
            <form hx-post="{% url 'htmx_select_nspanel_background' nspanel.id %}">
                <input type="hidden" name="selected_background" value="tft{{ i }}">
                <div id="us-panel-horizontal-example" class="relative mx-auto border-base-300 bg-base-300 border-[0.5rem] rounded-[0.5rem] h-[300px] w-[500px] mt-4 {% if settings.is_us_panel != 'True' or settings.us_panel_orientation != 'horizontal' %}hidden{% endif %}">
                    <div class="rounded-[0.2rem] w-[15.6%] h-[49%] bg-base-200 absolute top-0 left-0"></div> <!-- Upper button -->
                    <div class="rounded-[0.2rem] w-[15.6%] h-[49%] bg-base-200 absolute bottom-0 left-0"></div> <!-- Bottom button -->
                    <div class="rounded-[0.2rem] w-[81.5%] h-full bg-black flex justify-center items-center absolute top-0 right-0">
                        <!-- We use EU tft file for a horizontal US panel with buttons on left as it's the same screen and the correct layout -->
                        <img src="{{ static_prefix }}HMI_files/eu/output_tft{{ i }}/example.png" alt="Display example" class="p-[22.2px] object-fill">
                    </div> <!-- screen -->
                    <button class="absolute top-0 right-0 rounded-[0.2rem] w-[81.5%] h-full opacity-0 flex justify-center items-center hover:backdrop-blur-sm transition-all duration-[20ms] hover:opacity-100 cursor-pointer" title="Select background">
                        <span class="mdi mdi-check-circle"></span>
                    </button> <!-- Select background overlay -->
                </div>
            </form>
            {% endfor %}
        </div>
    </div>

    <!-- Backdrop that closes dialog/modal on click -->
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>

    <script>
        // htmx.on("htmx:afterSwap", (e) => {
        //   if(e.detail.elt.id == "welcome_modal") {
        //     welcome_modal.showModal();
        //   }
        // });
        modal.showModal();
    </script>
</dialog>
