{% if state == "offline" %}
<span hx-swap="outerHTML" hx-trigger="nspanel-{{ id }}-state-change from:body" hx-get="{% url 'nspanel_visit_link' view='index' nspanel_id=id %}" id="nspanel_visit_link-{{ id }}" title="No address available." class="block px-4 py-2 hover:bg-gray-600 hover:text-white line-through">
    <span class="mdi mdi-web pr-2"></span>Visit
</span>
{% else %}
<a hx-swap="outerHTML" hx-trigger="nspanel-{{ id }}-state-change from:body" hx-get="{% url 'nspanel_visit_link' view='index' nspanel_id=id %}" href="http://{{ address }}" id="nspanel_visit_link-{{ id }}" target="_blank" class="nspanel-visit-link block px-4 py-2 hover:bg-gray-600 hover:text-white">
    <span class="mdi mdi-web pr-2"></span>Visit
</a>
{% endif %}
