<div class="w-full" id="item_select_{{ name }}" tabindex="0"> <!-- We set a tabindex so that the element can be focused. This is used to collapse the "dropdown" menu of items when an item has been selected -->
    <div class="w-full group">
        <label for="friendly_name" class="block mb-2 text-sm font-medium">{{ label }}</label>
        <div class="flex flex-row-reverse">
            <input class="outline-none rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:rounded-b-none focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
            type="text" class="input" name="{{ name }}" id="item_select_{{ name }}_input" value="{{ selected }}">
            <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/name:border-accent peer-focus/name:rounded-b-none">
                <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <title>{{ label }}</title>
                <path d="M7,9A2,2 0 0,1 5,7A2,2 0 0,1 7,5A2,2 0 0,1 9,7A2,2 0 0,1 7,9M20,3H4A1,1 0 0,0 3,4V10A1,1 0 0,0
                    4,11H20A1,1 0 0,0 21,10V4A1,1 0 0,0 20,3M7,19A2,2 0 0,1 5,17A2,2 0 0,1 7,15A2,2 0 0,1 9,17A2,2 0 0,1
                    7,19M20,13H4A1,1 0 0,0 3,14V20A1,1 0 0,0 4,21H20A1,1 0 0,0 21,20V14A1,1 0 0,0 20,13Z"></path>
                </svg>
            </span>
        </div>

        <div id="dropdown_content_container_{{ name }}" class="overflow-x-clip overflow-y-scroll rounded-b-box bg-neutral text-neutral-content border-accent border border-t-0 z-20 w-full p-2 max-h-0 invisible group-focus-within:max-h-72 group-focus-within:h-auto group-focus-within:visible transition-all duration-100 ease-in-out">
            <ul class="w-full" id="item_select_options_{{ name }}">
                {% for item in items %}
                    <button type="button" class="w-full text-left"><li data-selected="{% if item.item_id == selected %}true{% else %}false{% endif %}" class="item_select_{{ name }}_option py-1 px-2 rounded-btn data-[selected=true]:bg-base-300 data-[selected=true]:text-info hover:bg-base-100 text-wrap w-full cursor-pointer" data-label="{{ item.label }}" data-item-id="{{ item.item_id }}">{{ item.label }} ({{ item.item_id }})</li></button>
                {% endfor %}
            </ul>
            <span class="italic text-sm justify-center text-warning hidden" id="item_select_{{ name }}_no_items">No items found.</span>
        </div>
    </div>

    <script>
    $(document).ready(() => {
      $(".item_select_{{ name }}_option").on('click', (event) => {
        $("#item_select_{{ name }}").focus();
        const element = $(event.currentTarget);
        $("#item_select_{{ name }}_input").val(element.data('item-id')); // Set value from pressed item to

        // Update what item is shown as selected in the list
        $(".item_select_{{ name }}_option").attr('data-selected', 'false');
        element.attr('data-selected', 'true');
      })
    });

    document.getElementById("item_select_{{ name }}_input").addEventListener('input', () => {
        var filter_text = $("#item_select_{{ name }}_input").val();
        var has_uppercase = /[A-Z]/.test(filter_text);

        var num_items_shown = 0;
        $("#item_select_options_{{ name }} > button > li").each(function () {
          if(has_uppercase) {
            if ($(this).attr("data-label").includes(filter_text) || $(this).attr("data-item-id").includes(filter_text) || filter_text == "") {
              $(this).parent().show();
              $(this).show();
              num_items_shown++;
            } else {
              $(this).parent().hide();
              $(this).hide();
            }
          } else if(!has_uppercase) {
            if ($(this).attr("data-label").toLowerCase().includes(filter_text.toLowerCase()) || $(this).attr("data-item-id").toLowerCase().includes(filter_text.toLowerCase()) || filter_text == "") {
              $(this).parent().show();
              $(this).show();
              num_items_shown++;
            } else {
              $(this).parent().hide();
              $(this).hide();
            }
          }
        });

        if(num_items_shown == 0) {
          $("#item_select_{{ name }}_no_items").removeClass("hidden");
          $("#item_select_{{ name }}_no_items").addClass("flex");
        } else {
          $("#item_select_{{ name }}_no_items").addClass("hidden");
          $("#item_select_{{ name }}_no_items").removeClass("flex");
        }
    });
    </script>
</div>
