.nspanel_view {
    width: 455px;
    height: 320px;
    color: white;
}

.add_item_icon {
  padding-right: 1rem;
}

#add_new_light_modal_panel {
  overflow: scroll;
}

#nspanel_room_view {
    background-image: url('/static/panel_views/nspanel_room_view.png');
    position: relative;
}

#nspanel_room_view > #room_name {
    position: absolute;
    font-size: x-large;
    left: 125px;
    top: 6px;
}

#nspanel_room_view > .light_r1 {
    position: absolute;
    display: block;
    font-size: large;
    left: 4px;
    width: 156px;
    height: 27px;
    cursor: pointer;
}

#nspanel_room_view > .light_r2 {
    position: absolute;
    display: block;
    font-size: large;
    left: 227px;
    width: 156px;
    height: 27px;
    cursor: pointer;
}

#nspanel_room_view > #light1, #light7 {
    top: 55px;
}

#nspanel_room_view > #light2, #light8 {
    top: 99px;
}

#nspanel_room_view > #light3, #light9 {
    top: 142px;
}

#nspanel_room_view > #light4, #light10 {
    top: 187px;
}

#nspanel_room_view > #light5, #light11 {
    top: 232px;
}

#nspanel_room_view > #light6, #light12 {
    top: 277px;
}
