<dialog id="modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <form method="POST" action="{% url 'htmx_handle_entity_modal_result' %}">
            {% csrf_token %}
            <input class="input" type="hidden" id="add_new_light_type" name="add_new_light_type" value="{{ entity.type }}">
            <input class="input" type="hidden" id="entity_id" name="entity_id" value="{{ entity.entity_id }}">
            <input class="input" type="hidden" id="edit_light_id" name="edit_light_id" value="{{ edit_light_id }}">
            <!-- Modal content -->
            <div class="">
                <!-- Modal header -->
                <h3 class="text-xl font-semibold">
                    Configure light
                </h3>
                <!-- Modal content -->
                <div class="p-4 md:p-5 space-y-4">
                <!-- Common controls -->
                <div class="">
                    <!-- Name -->
                    <div class="">
                        <label for="add_new_light_name" class="block mb-2 text-sm font-medium">Name</label>
                        <div class="flex flex-row-reverse">
                        <input class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/search_text"
                        type="text" class="input" name="add_new_light_name" id="add_new_light_name" value="{{ entity.label }}">
                        <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/search_text:border-accent">
                            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Name</title>
                            <path d="M7,9A2,2 0 0,1 5,7A2,2 0 0,1 7,5A2,2 0 0,1 9,7A2,2 0 0,1 7,9M20,3H4A1,1 0 0,0 3,4V10A1,1 0 0,0
                                4,11H20A1,1 0 0,0 21,10V4A1,1 0 0,0 20,3M7,19A2,2 0 0,1 5,17A2,2 0 0,1 7,15A2,2 0 0,1 9,17A2,2 0 0,1
                                7,19M20,13H4A1,1 0 0,0 3,14V20A1,1 0 0,0 4,21H20A1,1 0 0,0 21,20V14A1,1 0 0,0 20,13Z"></path>
                            </svg>
                        </span>
                        </div>
                    </div>


                    <!-- Control mode (dimmer/switch etc...) -->
                    <div class="flex-auto mr-1 mt-4">
                    <h3 class="block mb-2 text-sm font-medium">Control mode</h3>
                    <ul
                        class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex bg-base-300">
                        <li class="w-full sm:border-b-0 sm:border-r border-neutral">
                        <div class="flex items-center ps-3">
                            <input id="light_control_mode_dimmer" type="radio" name="light_control_mode" value="dimmer" class="w-4 h-4 radio radio-accent" {% if control_mode == "dimmable" %}checked{% endif %}>
                            <label for="light_control_mode_dimmer" class="w-full py-3 ms-2 text-sm font-medium">Dimmable</label>
                        </div>
                        </li>
                        <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                        <div class="flex items-center ps-3">
                            <input id="light_control_mode_switch" type="radio" name="light_control_mode" value="switch" class="w-4 h-4 radio radio-accent" {% if control_mode == "switch" %}checked{% endif %}>
                            <label for="light_control_mode_switch" class="w-full py-3 ms-2 text-sm font-medium">Switch</label>
                        </div>
                        </li>
                    </ul>
                    </div>

                    <!-- Capabilities -->
                    <div class="flex-auto mr-1 mt-4">
                        <h3 class="block mb-2 text-sm font-medium">Capabilities</h3>
                        <ul
                        class="items-center w-full text-sm font-medium border border-neutral rounded-lg sm:flex bg-base-300">
                        <li class="w-full sm:border-b-0 sm:border-r border-neutral">
                            <div class="flex items-center ps-3">
                            <input id="color_temperature" id="color_temperature" type="checkbox" name="color_temperature" class="w-4 h-4 checkbox checkbox-accent" {% if can_color_temperature == "true" %}checked{% endif %}>
                            <label for="color_temperature" class="w-full py-3 ms-2 text-sm font-medium">Color temperature</label>
                            </div>
                        </li>
                        <li class="w-full border-b sm:border-b-0 sm:border-r border-neutral">
                            <div class="flex items-center ps-3">
                            <input id="rgb" type="checkbox" name="rgb" class="w-4 h-4 checkbox checkbox-accent" {% if can_color == "true" %}checked{% endif %}>
                            <label for="rgb" class="w-full py-3 ms-2 text-sm font-medium">RGB</label>
                            </div>
                        </li>
                        </ul>
                    </div>
                </div>

                {% if entity.type == "openhab" %}
                <!-- OpenHAB Light options-->
                <div id="openhab_light_options">
                    <!-- Brightness item selector -->
                    <div class="mt-4" id="openhab_dimming_channel_selector">
                    <label for="openhab_dimming_channel_name" class="block mb-2 text-sm font-medium">Brightness</label>
                    <div class="flex flex-row-reverse">
                        <select name="openhab_dimming_channel_name" id="openhab_dimming_channel_name" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/room_id">
                            {% for item in entity.items %}
                            {% if item == openhab_channel_brightness %}
                                <option selected>{{ item }}</option>
                            {% else %}
                                <option>{{ item }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/room_id:border-accent">
                        <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Dimmer item</title>
                            <path
                                d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" />
                        </svg>
                        </span>
                    </div>
                    </div>

                    <!-- Color temperature item selector -->
                    <div class="mt-4" id="openhab_color_temp_channel_selector">
                        <label for="openhab_color_temperature_channel_name" class="block mb-2 text-sm font-medium">Color temperature</label>
                        <div class="flex flex-row-reverse">
                        <select name="openhab_color_temperature_channel_name" id="openhab_color_temperature_channel_name" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/room_id">
                            {% for item in entity.items %}
                            {% if item == openhab_channel_color_temperature %}
                                <option selected>{{ item }}</option>
                            {% else %}
                                <option>{{ item }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/room_id:border-accent">
                            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Color temperature item</title>
                            <path
                                d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" />
                            </svg>
                        </span>
                        </div>
                    </div>
                    <!-- Color (RGB) item selector -->
                    <div class="mt-4" id="openhab_rgb_channel_selector">
                        <label for="openhab_RGB_channel_name" class="block mb-2 text-sm font-medium">RGB</label>
                        <div class="flex flex-row-reverse">
                        <select name="openhab_RGB_channel_name" id="openhab_RGB_channel_name" class="rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/room_id">
                            {% for item in entity.items %}
                            {% if item == openhab_channel_color %}
                                <option selected>{{ item }}</option>
                            {% else %}
                                <option>{{ item }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/room_id:border-accent">
                            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>RGB item</title>
                            <path
                                d="M13,9V3.5L18.5,9M6,2C4.89,2 4,2.89 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2H6Z" />
                            </svg>
                        </span>
                        </div>
                    </div>
                </div>
                {% endif %}

                </div>
                <!-- Modal footer -->
                <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </div>
        </div>

        </form>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script>
// Open dialog using Javascript as to make it possible to close again
modal.showModal();

$("#color_temperature").click(() => {
  if ($('#color_temperature').prop("checked")) {
    $("#openhab_color_temp_channel_selector").show();
  } else {
    $("#openhab_color_temp_channel_selector").hide();
  }
});

$("#rgb").click(() => {
  if ($('#rgb').prop("checked")) {
    $("#openhab_rgb_channel_selector").show();
  } else {
    $("#openhab_rgb_channel_selector").hide();
  }
});
</script>
