<dialog id="modal" class="modal" hx-swap-oob="true">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <div class="flex justify-center mb-4">
            <ul class="steps">
                <li class="step step-primary">Select type</li>
                <li class="step step-primary">Select source</li>
                <li class="step step-primary">Configure scene</li>
            </ul>
        </div>

        <form hx-post="{% url 'htmx_handle_entity_modal_result' %}" hx-indicator="#modal_loading" onsubmit="modal.close();">
            {% csrf_token %}
            <!-- Modal content -->
            <div class="">
                <!-- Modal content -->
                <div class="p-4 md:p-5 space-y-4">
                <!-- Common controls -->
                <div class="">
                    <!-- Name -->
                    <div class="">
                        <label for="add_new_light_name" class="block mb-2 text-sm font-medium">Name</label>
                        <div class="flex flex-row-reverse">
                        <input class="outline-none rounded-none bg-base-300 border-neutral rounded-e-md border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/search_text"
                        type="text" class="input" name="scene_name" id="scene_name" value="{{ entity.name }}" required>
                        <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-md peer-focus/search_text:border-accent">
                            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <title>Name</title>
                                <path d="M7,9A2,2 0 0,1 5,7A2,2 0 0,1 7,5A2,2 0 0,1 9,7A2,2 0 0,1 7,9M20,3H4A1,1 0 0,0 3,4V10A1,1 0 0,0
                                    4,11H20A1,1 0 0,0 21,10V4A1,1 0 0,0 20,3M7,19A2,2 0 0,1 5,17A2,2 0 0,1 7,15A2,2 0 0,1 9,17A2,2 0 0,1
                                    7,19M20,13H4A1,1 0 0,0 3,14V20A1,1 0 0,0 4,21H20A1,1 0 0,0 21,20V14A1,1 0 0,0 20,13Z"></path>
                            </svg>
                        </span>
                        </div>
                    </div>

                    {% if entity_source == "home_assistant" %}
                        <div class="mt-4">
                            {% component "item_select" name="backend_name" label="Home Assistant Scene" items=home_assistant_items selected=backend_name %}{% endcomponent %}
                        </div>
                    {% endif %}

                    {% if entity_source == "openhab" %}
                        <!-- Brightness item selector -->
                        <div class="mt-4">
                            {% component "item_select" name="backend_name" label="OpenHAB Scene" items=openhab_items selected=backend_name %}{% endcomponent %}
                        </div>
                    {% endif %}
                </div>


                </div>
                <!-- Modal footer -->
                <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </div>
        </div>

        </form>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>

    <script>
    function update_color_temp_shown() {
      if ($('#color_temperature').prop("checked")) {
        $("#openhab_color_temperature_item_selector").show();
      } else {
        $("#openhab_color_temperature_item_selector").hide();
      }
    }

    function update_rgb_shown() {
      if ($('#rgb').prop("checked")) {
        $("#openhab_rgb_item_selector").show();
      } else {
        $("#openhab_rgb_item_selector").hide();
      }
    }

    // Open dialog using Javascript as to make it possible to close again
    update_color_temp_shown();
    update_rgb_shown();
    htmx.on("htmx:afterSwap", (e) => {
      if(e.detail.elt.id == "modal") {
        modal.showModal();
      }
    });

    $("#color_temperature").click(update_color_temp_shown);
    $("#rgb").click(update_rgb_shown);
    </script>
</dialog>
