{% load static %}
<dialog id="welcome_modal" class="modal" hx-swap-oob="true">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <div class="flex justify-center mb-2">
            <ul class="steps">
                <li hx-get="{% url 'htmx_initial_setup_welcome' %}" hx-swap="none" class="step step-primary cursor-pointer">Welcome</li>
                <li hx-get="{% url 'htmx_initial_setup_manager_settings' %}" hx-swap="none" class="step step-primary cursor-pointer">Manager</li>
                <li hx-get="{% url 'htmx_initial_setup_mqtt_settings' %}" hx-swap="none" class="step step-primary cursor-pointer">MQTT</li>
                <li hx-get="{% url 'htmx_initial_setup_home_assistant_settings' %}" hx-swap="none" class="step step-primary cursor-pointer">Home Assistant</li>
                <li hx-get="{% url 'htmx_initial_setup_openhab_settings' %}" hx-swap="none" class="step cursor-pointer">OpenHAB</li>
                <li hx-get="{% url 'htmx_initial_setup_finished' %}" hx-swap="none" class="step cursor-pointer">Finish</li>
            </ul>
        </div>

        <hr class="w-full absolute left-0 border-base-content">

        <span class="block mb-2 text-xl w-full text-center">Home Assistant <span class="font-thin italic">(optional)</span></span>

        <form hx-post="{% url 'htmx_initial_setup_home_assistant_settings' %}">
            {% csrf_token %}
            {% if is_home_assistant_addon %}
            {% component "alert" level="info" message="You are running NSPanel Manager as a Home Assistant addon. These settings are managed by Home Assistant for you and are therefore locked." %}{% endcomponent %}
            {% endif %}


            <!-- Home Assistant address -->
            <div class="mb-2 w-full">
                <label for="home_assistant_address" class="block mb-1 text-sm font-medium">Home Assistant address</label>
                <div class="flex flex-row-reverse w-full">
                    <input class="rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                    type="text" class="input" id="home_assistant_address" name="home_assistant_address" value="{{ home_assistant_address }}">
                    <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent" {% if is_home_assistant_addon %}disabled{% endif %}>
                        <span class="mdi mdi-web"></span>
                    </span>
                </div>
            </div>

            <!-- Access Token -->
            <div class="mb-2 w-full">
                <label for="home_assistant_token" class="block mb-1 text-sm font-medium">Home Assistant token</label>
                <div class="flex flex-row-reverse w-full">
                    <input class="rounded-e-field bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                    type="password" class="input" id="home_assistant_token" name="home_assistant_token" value="{{ home_assistant_token }}">
                    <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent" {% if is_home_assistant_addon %}disabled{% endif %}>
                        <span class="mdi mdi-web"></span>
                    </span>
                </div>
            </div>

            <div class="flex justify-end mt-4">
                <button type="button" class="btn btn-neutral me-2" hx-get="{% url 'htmx_initial_setup_mqtt_settings' %}">Back</button>
                <button type="submit" class="btn btn-success">Next</button>
            </div>
        </form>

    </div>

    <!-- Backdrop that closes dialog/modal on click -->
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>

    <script>
        welcome_modal.showModal();
    </script>
</dialog>
