{% load static %}
<dialog id="welcome_modal" class="modal" hx-swap-oob="true">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <div class="flex justify-center mb-2">
            <ul class="steps">
                <li hx-get="{{ ingress_path }}{% url 'htmx_initial_setup_welcome' %}" hx-swap="none" class="step step-primary cursor-pointer">Welcome</li>
                <li hx-get="{{ ingress_path }}{% url 'htmx_initial_setup_manager_settings' %}" hx-swap="none" class="step step-primary cursor-pointer">Manager</li>
                <li hx-get="{{ ingress_path }}{% url 'htmx_initial_setup_mqtt_settings' %}" hx-swap="none" class="step cursor-pointer">MQTT</li>
                <li hx-get="{{ ingress_path }}{% url 'htmx_initial_setup_home_assistant_settings' %}" hx-swap="none" class="step cursor-pointer">Home Assistant</li>
                <li hx-get="{{ ingress_path }}{% url 'htmx_initial_setup_openhab_settings' %}" hx-swap="none" class="step cursor-pointer">OpenHAB</li>
                <li hx-get="{{ ingress_path }}{% url 'htmx_initial_setup_finished' %}" hx-swap="none" class="step cursor-pointer">Finish</li>
            </ul>
        </div>

        <hr class="w-full absolute left-0 border-base-content">

        <span class="block mb-2 text-xl w-full text-center">NSPanel Manager settings</span>

        <form hx-post="{{ ingress_path }}{% url 'htmx_initial_setup_manager_settings' %}">
            {% csrf_token %}

            {% component "alert" level="warning" text="Manager address needs to be the IP address and not hostname of the manager." %}{% endcomponent %}

            <!-- Manager address -->
            <div class="mb-2">
                <label for="manager_address" class="block mb-1 text-sm font-medium">Manager address</label>
                <div class="flex flex-row-reverse">
                    <button type="button" class="button bg-info text-info-content p-2 border border-l-0 rounded-e-field border-neutral text-sm" onclick="$('#manager_address').val(location.hostname);">Load from URL</button>
                    <input class="outline-none rounded-none bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                    type="text" class="input" id="manager_address" name="manager_address" value="{{ manager_address }}" required>
                    <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                        <span class="mdi mdi-home"></span>
                    </span>
                </div>
            </div>


            <!-- Manager port -->
            <div class="mb-2">
                <label for="manager_port" class="block mb-1 text-sm font-medium">Manager port</label>
                <div class="flex flex-row-reverse">
                    <button type="button" class="button bg-info text-info-content p-2 border border-l-0 rounded-e-field border-neutral text-sm" onclick="$('#manager_port').val(location.port);">Load from URL</button>
                    <input class="outline-none rounded-none bg-base-300 border-neutral border border-l-0 focus:ring-0 focus:border-accent block flex-1 min-w-0 w-full text-sm p-2.5 peer/name"
                    type="text" class="input" id="manager_port" name="manager_port" value="{{ manager_port }}" required>
                    <span class="inline-flex items-center px-3 text-sm border border-neutral rounded-e-0 rounded-s-field peer-focus/name:border-accent">
                        <span class="mdi mdi-numeric"></span>
                    </span>
                </div>
            </div>

            <div class="flex justify-end mt-4">
                <button type="button" class="btn btn-neutral me-2" hx-get="{{ ingress_path }}{% url 'htmx_initial_setup_welcome' %}">Back</button>
                <button type="submit" class="btn btn-success">Next</button>
            </div>
        </form>

    </div>

    <!-- Backdrop that closes dialog/modal on click -->
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>

    <script>
    htmx.on("htmx:afterSwap", (e) => {
      if(e.detail.elt.id == "welcome_modal") {
        welcome_modal.showModal();
      }
    });
    </script>
</dialog>
