<script type="module">
  import { define, html } from '{{ ingress_path }}/static/node_modules/hybrids/src/index.js';

  document.getElementsByTagName('body')[0].addEventListener('nspanel-{{ id }}-state-change', (event) => {
    // Update relevant values for the status header from the bundled data in the status update event
    var element = document.getElementById(`nspanel-reboot-button-${event.detail.event_data.id}`);
    element.state = event.detail.event_data.state;
  });

  function attachHtmxListeners(element) {
    htmx.process(element);
  }


  define({
    tag: "nspanel-reboot-button",
    nspanel_id: '',
    state: '',
    render: ({nspanel_id, state}) => {
      if (state == "offline" || state == "unknown") {
        return html`
            ${attachHtmxListeners}
            <div hx-post="/htmx/nspanels/${nspanel_id}/reboot" id="reboot-${nspanel_id}" hx-trigger="click" hx-swap="none"
            class="block px-4 py-2 hover:bg-accent hover:text-accent-content cursor-pointer">
                <span class="mdi mdi-restart pr-2"></span>Reboot
            </div>
        `;
      } else {
        return html`
            ${attachHtmxListeners}
            <div hx-post="/htmx/nspanels/${nspanel_id}/reboot" id="reboot-${nspanel_id}" hx-trigger="click, reboot-all-nspanels from:body" hx-swap="none"
            class="block px-4 py-2 hover:bg-accent hover:text-accent-content cursor-pointer">
                <span class="mdi mdi-restart pr-2"></span>Reboot
            </div>
        `;
      }
    },
  })
</script>

<nspanel-reboot-button id="nspanel-reboot-button-{{ id }}" nspanel_id="{{ id }}" state="{{ state }}"></nspanel-reboot-button>
