{% if level == "info" %}
<div role="alert" class="alert alert-info">
  <span class="mdi mdi-information-outline text-2xl"></span>
  <span>{{ text }}</span>
</div>
{% elif level == "warning" %}
<div role="alert" class="alert alert-warning">
    <span class="mdi mdi-alert-circle-outline text-2xl"></span>
  <span>{{ text }}</span>
</div>
{% elif level == "error" %}
<div role="alert" class="alert alert-error">
  <span class="mdi mdi-alert-circle-outline text-2xl"></span>
  <span>{{ text }}</span>
</div>
{% else %}
<div role="alert" class="alert">
  <span class="mdi mdi-alert-circle-outline text-2xl"></span>
  <span>{{ text }}</span>
</div>
{% endif %}
