<span hx-swap="outerHTML" hx-trigger="nspanel-{{ id }}-state-change from:body" hx-get="{% url 'nspanel_status_wifi_signal_strength' view='index' nspanel_id=id %}" class="icon-text" id="wifi_signal_strength_container-{{ id }}">
    <span class="icon me-1">
        {% if state == "offline" %}
            <i class="mdi mdi-wifi-strength-1-alert" id="wifi_signal_strength-{{ id }}"></i>
        {% else %}
            {% if signal_strength <= -90 %}
                <i class="mdi mdi-wifi-strength-1-alert" id="wifi_signal_strength-{{ id }}"></i>
            {% elif signal_strength <= -80 %}
                <i class="mdi mdi-wifi-strength-1" id="wifi_signal_strength-{{ id }}"></i>
            {% elif signal_strength <= -67 %}
                <i class="mdi mdi-wifi-strength-2" id="wifi_signal_strength-{{ id }}"></i>
            {% elif signal_strength <= -55 %}
                <i class="mdi mdi-wifi-strength-3" id="wifi_signal_strength-{{ id }}"></i>
            {% else %}
                <i class="mdi mdi-wifi-strength-4" id="wifi_signal_strength-{{ id }}"></i>
            {% endif %}
        {% endif %}
    </span>
    {% if state == "offline" or state == "unknown" %}
        <span id="wifi_signal_strength_text-{{ id }}" class="text-sm">? dBm</span>
    {% else %}
        <span id="wifi_signal_strength_text-{{ id }}" class="text-sm">{{ signal_strength }} dBm</span>
    {% endif %}
</span>
