name: "Publish"

on:
  release:
    types: [published]
    branches:
      - 'master'

jobs:
  copy_config_template:
    name: Update Home Assistant add-on version
    runs-on: ubuntu-latest
    permissions:
      contents: write
      deployments: read
    steps:
      - uses: actions/checkout@v3
      - run: |
          sed -i "s/^version: [0-9\.]\+/version: ${{ github.ref_name }}/g" docker/config.yaml
          sed -i "s/[0-9]\+\.[0-9]\+\.[0-9]\+/${{ github.ref_name }}/g" docker/web/nspanelmanager/web/templates/footer.html
      - uses: stefanzweifel/git-auto-commit-action@v5
        if: ${{ !github.event.act }} # skip during local actions testing
        with:
          commit_message: Push updated version back to repo
  publish:
    if: ${{ !github.event.act }} # skip during local actions testing
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Publish
        uses: home-assistant/builder@master
        with:
          args: |
            --all \
            --target docker \
            --image NSPanelManager-{arch} \
            --version ${{ github.ref_name }} \
            --release ${{ github.ref_name }} \
            --docker-hub ${{ secrets.DOCKERHUB_USERNAME }}
